[2015-12-02 09:43] heiglandreas opened #2 "Some ideas for further optimization"
Some of these might already be in the pipeline.

* Show where the symbols have been found (file, line)
* Show what exotic PHP-Extensions should be required (like mbstring or intl or ldap)

[2015-12-02 09:50] heiglandreas opened #3 "Internal Symbols are shown as unknown"
I've just checked a component that shows ```DateTime```, ```DateTimeZone```, ```Countable```, ```RecursiveIterator``` or ```InvalidArgumentException``` as unknown.

The Symbols are declared in the files via a ```use```-Statement.

[2015-12-02 10:48] maglnet commented on #2
:+1:

[2015-12-02 10:49] maglnet commented on #3
Hi,
for now only the extensions "Core" and "standard" are checked when "php" is a requirement.
Could you please try adding the following extensions to your `require` section and check again:
`"ext-date" : "*"` for `DateTime`, `DateTimeZone`
`"ext-spl" : "*"` for `Countable`, `RecursiveIterator` and `InvalidArgumentException`

We should think about, how restrictive ComposerRequireChecker should be,

[2015-12-02 12:13] maglnet commented on #3
I think i found it, the extensions listed as "Core Extensions" in the following link should be configured as default, when `php` is required:
http://php.net/manual/en/extensions.membership.php

[2015-12-03 07:26] heiglandreas opened #7 "Add config-file for PHP-symbols"
Currently the internal symbol-table of the running PHP-binary is used to check for PHP-symbols that might be required. What happens when you required f.e. ```ext-ldap``` and run the checker using a PHP-binary that hasn't ext-ldap available? It will surely result in a false-positive.

I still need to check what happens but I'll report back.

Solution would be to have a config-file that contains **a

[2015-12-03 08:35] maglnet commented on #7
Currently it throws an exception, we should find another solution than failing for this point :)
https://github.com/maglnet/ComposerRequireChecker/blob/faf96659320dc0ec3b7d2c8619732988d7ca063b/src/ComposerRequireChecker/DefinedSymbolsLocator/LocateDefinedSymbolsFromExtensions.php#L29

[2015-12-04 20:39] maglnet commented on #3
As decided in #6, all extensions that are available when PHP is compiled with `--disable-all` are now whitelisted per default.
So, all extensions mentioned above should not be marked as unknown in the next release.

[2015-12-04 20:39] #3 closed

[2015-12-04 21:45] Ocramius commented on #3
Note: it may be worth starting to differentiate these issues by "severity". A non-included core dependency could be "notice" level

[2015-12-04 21:55] maglnet commented on #3
But is it this tools decision, what severity an unknown symbol ist?
As you could find a php installation without `ext-json`, why not force users to define it as a dependency, when using `json_encode` / `json_decode`?

[2015-12-04 22:00] Ocramius commented on #3
@maglnet severity as in "instanceof" vs "API usage", for example. Type-hinting vs instantiating, etc. Some cause hard breakages, some are more "soft"

[2015-12-04 22:03] maglnet commented on #3
ok, I think I understand, could be hard to check because we need to figure out, if a symbol is used within an `instanceof` block, or not, right?

[2015-12-04 22:05] Ocramius commented on #3
Yup. Of course it's a suggestion - should I open an issue?

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On 4 December 2015 at 23:03, Matthias Glaub <notifications@github.com>
wrote:

[2015-12-04 22:06] maglnet commented on #3
Yes, please.

[2015-12-04 22:22] Ocramius opened #8 "Provide a "severity" for each import usage"
Currently, used symbols are all at the same level.

There are though some symbols that may be "soft" dependencies (rare cases) and may be flagged differently.

Therefore, this suggestion may eventually be discarded after some discussion/suggestions.

## Some examples:

often used in polyfills, minor issue:

[code]

often used to do duck typing against running systems with unknown dependencies: war

[2015-12-04 22:23] Ocramius commented on #8
Note: there are no no-issue cases. Even internal classes that are in default extensions should be marked as "notice" or such, because that stuff actually breaks on custom PHP installations (and it happens a lot!)

[2015-12-10 19:23] maglnet commented on #7
I just realized, if you already require `ext-ldap` and it is not installed, a composer install should already fail.

But nevertheless, do you have any idea on how one could best create such a file from php-src?

[2015-12-10 20:52] heiglandreas commented on #7
Well, you can always use ```composer install/update --ignore-platform-reqs```.

Excerpt from [the composer-page](https://getcomposer.org/doc/03-cli.md#install):

     ignore php, hhvm, lib-* and ext-* requirements and force the installation
     even if the local machine does not fulfill these. See also the platform config option.

So it might happen.

The symbols can be filtered using something l

[2015-12-10 21:38] maglnet commented on #7
Right, didn't think about `--ignore-platform-reqs`.

The `grep` is a good start, I'll see if I can adjust it to fetch constants, classes and interfaces, too.

[2015-12-10 21:56] heiglandreas commented on #7
```clang``` might also be a possibility to extract the informations. But I'm not deep enough into it at the moment. I need a bit more time for that. Might be the easiest to use the ```grep``` and a bit of manual adaption and then use ```clang``` for the next PHP-version.

[2015-12-11 09:14] heiglandreas commented on #7
I've set up a rudimentary parser for the sources.

https://github.com/maglnet/ComposerRequireChecker/compare/master...heiglandreas:feature/addSourceParser?expand=1

[2017-01-23 11:42] MidnightDesign opened #14 "Report redundant dependencies"
I think this should also report dependencies that aren't used at all.

[2017-01-23 15:27] Ocramius commented on #14
Good one indeed, but a bit messy to find recursively (indirect dependencies)

[2017-01-24 20:57] MidnightDesign opened #17 "Extensions provided by dependencies"
Extensions provided by dependencies aren't handled correctly.

Concrete example: My project requires `"ext-mongo": "*"` and [`"alcaeus/mongo-php-adapter": "^1.0"`](https://github.com/alcaeus/mongo-php-adapter). [`alcaeus/mongo-php-adapter` provides `ext-mongo`](https://github.com/alcaeus/mongo-php-adapter/blob/1.0.8/composer.json#L20), but the checker still complains about it being an unknown exte

[2017-05-11 21:53] keradus opened #20 "Report dependency class as unknown, even if it's in vendor folder"
Hi !
I would be grateful for any hints on that !
`Symfony\Component\Finder\Finder` is reported as unknown, even if it's properly installed as dependency

[code]

[2017-05-11 21:58] Ocramius commented on #20
That's because they're not in your root composer.json dependencies, yet you
are using it.

On 11 May 2017 23:53, "Dariusz Rumiński" <notifications@github.com> wrote:

[2017-05-12 11:00] keradus commented on #20
sticking to Finder example... it is:
https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/v2.3.1/composer.json#L24

[2017-05-12 11:56] Ocramius commented on #20
Interesting: needs investigation then.

[2017-05-12 23:52] maglnet commented on #20
Could you please check the latest release:
https://github.com/maglnet/ComposerRequireChecker/releases/tag/0.1.3

There seemed to be a problem finding the correct path when used as a `.phar` file.

[2017-05-14 12:08] keradus commented on #20
tested with 0.1.4 already. now it works, thanks ;)

[2017-05-14 12:08] #20 closed

[2017-05-21 20:20] keradus opened #22 "json decoding is not handling nicely"
output of json_decode is not handled, thus in case of any json-violation, we got following error:
[code]

[2017-05-21 20:33] Ocramius commented on #22
Meh, is it really worth checking this? The only difference would be the better exception message

[2017-05-21 20:37] keradus commented on #22
without debugging what is a referred class and how param for it was generated, I had no clue that it's due to JSON syntax violation...

[2017-05-21 20:39] Ocramius commented on #22
Gotcha, makes sense.

[2017-06-23 12:23] SpacePossum opened #23 "DefinedSymbolCollector - Breaks on anonymous classes"
[code]

not sure how to proceed?

This seems to cause the exception; from `composer.json`
[code]

[2017-06-23 12:37] Ocramius commented on #23
What about the source version?

On 23 Jun 2017 2:24 PM, "SpacePossum" <notifications@github.com> wrote:

[2017-06-23 13:47] SpacePossum commented on #23
Install through composer.

[code]

[code]

[code]

[2017-06-23 19:12] Ocramius commented on #23
Could you run it with -vvv? I think we simply haven't considered files in
the root namespace

On 23 Jun 2017 3:47 PM, "SpacePossum" <notifications@github.com> wrote:

[2017-06-24 07:04] SpacePossum commented on #23
[code]

maybe I can have a look into this later on, let me know if I can provide more useful data :)

[2017-06-24 07:10] Ocramius commented on #23
@SpacePossum I think we'd need to know the offending file here: was hoping to see such information in the trace :-\

[2017-06-26 11:37] SpacePossum commented on #23
I pinned it down to anonymous class, for example;

[code]

I'll try to come up with utest and fix PR when I find the time :)

[2017-06-26 13:27] Ocramius commented on #23
Aha, that's a nasty one indeed :-)

Thanks for pinning it down - wouldn't be able to do so otherwise.

I guess it's something around https://github.com/maglnet/ComposerRequireChecker/blob/7768b06093922677601af16bbce7f9f1adda31ce/test/ComposerRequireCheckerTest/DefinedSymbolsLocator/LocateDefinedSymbolsFromASTRootsTest.php#L32-L44

[2017-06-30 07:55] SpacePossum commented on #23
thanks for the pointer @Ocramius , is a good help :+1:

[2017-07-04 09:55] #23 closed

[2017-07-14 10:13] SpacePossum opened #25 "File location doesn't work"
Using something like this in `composer.json` doesn't work:

[code]

This does:

[code]

What is also a bit tricky is that the tool ends with;
[code]

Might be better to do a sanity check if there were any symbols found at all and if not exit with an error that the configuration is off?

Meta stuff for debugging:
[code]

[code]

There is also a minor thingy about locating the passed configuration f

[2017-07-14 19:33] Ocramius commented on #25
`"src\\PHPUnit"` is not a valid path

[2017-07-14 20:22] SpacePossum commented on #25
Interesting as I did the setup here https://github.com/GeckoPackages/GeckoPHPUnit/blob/v2.1/composer.json#L16 and travis passes for Linux (as well as local Linux setup), secondly it is used on PHP-CS-Fixer in the test suit which tests on Windows systems as well.
I'm not disputing your claim of the path being invalid, I'm just curious about this case:)

[2017-07-14 22:15] Ocramius commented on #25
Probably needs to be escalated to composer itself, but `\\` is absolutely not a path separator.

[2017-07-18 14:13] weirdan commented on #23
Would love to see this released.

[2017-08-21 08:18] SpacePossum commented on #25
The `\\` is json escaping of `\`, so the issue not dealing with something like `a\b\test.php` correcty.
Closing as discussion can be done better in the PR.

[2017-08-21 08:18] #25 closed

[2017-09-10 09:31] glensc opened #29 "phar file lacks shebang"
[code]

please add:

[code]

that should be most portable.

[2017-09-24 14:55] #29 closed

[2017-10-11 19:29] #22 closed

[2017-10-11 19:55] keradus commented on #22
thanks :+1:

[2017-10-20 09:07] server-may-cry opened #35 "Exception because of invalid php (xml) file in symfony/dependency-injection"
[code]
That happened when try to parse invalid php file in [symfony/dependency-injection](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/xml_with_wrong_ext.php)
Only if symfony/dependency-injection specified in my composer.json file

[2017-10-20 12:01] Adirelle opened #36 "Optional dependencies"
Some packages provides adapters/bridges for well-known other tools/framework (e.g. adapters for Doctrine/Propel/... ). However, only one of these corresponding dependencies should be installed, and it is selected by the end developer in the root project, so it must not appear in the "require" section of composer.json, but is generally in the "require-dev" section for testing purpose.

Could it be

[2017-10-20 12:37] Ocramius commented on #36
Only if these dependencies are in the `dev-` section of the package.

Optional dependencies are not really a thing: they should be split out to
third party packages. We spent a huge amount of time doing that in D2/ZF
and are still not done with it, but I wouldn't want to reduce the errors to
just warning: having an unfulfilled dependency should be a hard stop.

On 20 Oct 2017 14:01, "Adirelle" <no

[2017-10-22 15:26] Adirelle commented on #36
Good point.

[2017-10-22 15:26] #36 closed

[2017-10-22 16:07] Adirelle opened #37 "Which dependency for Composer\Script\Event ?"
I have a package that provides a script handler for Composer. It depends on Composer\Script\Event, which will be provided by Composer when it will be executed. As I do not want that every user of this package pulls the entire Composer sources, composer/composer is not listed in the dependencies. Yet  ComposerRequireChecker complains about it.

Is there any solution to this ?

[2017-10-22 16:17] Ocramius commented on #35
What's the file?

[2017-10-22 16:21] Ocramius commented on #37
@Adirelle this tool does not distinguish whether the file will be used at runtime or at install time. A simple solution is to move the script to `autoload-dev`, if that's a dev-only script.
Another solution is to have it split out to a separate package.

[2017-10-22 16:32] Adirelle commented on #37
Let it be clear that I am talking of this with the "MyVendor\\MyClass::postPackageInstall" form: https://getcomposer.org/doc/articles/scripts.md#defining-scripts

Putting it in a separate package makes no sense here: the script handler is here to work with the package. It is not optional. And this would only move the issue a step further: that separate package would have to require composer/compos

[2017-10-22 16:39] server-may-cry commented on #35
https://github.com/symfony/symfony/blob/master/src/Symfony/Component/DependencyInjection/Tests/Fixtures/xml/xml_with_wrong_ext.php

[2017-10-22 16:48] Ocramius commented on #37
Yes, it cannot be used that way unless you explicitly require `composer/composer` too

[2017-10-22 16:49] Ocramius commented on #35
@maglnet should we just ignore any PHP we can't parse?

Also, why is `Tests` being included? Should we exclude that too?

[2017-10-23 07:11] maglnet commented on #37
Another possibility would be to copy the config file and add the symbol `Composer\Script\Event` to the whitelist.
https://github.com/maglnet/ComposerRequireChecker/blob/master/data/config.dist.json

[2017-10-23 07:20] maglnet commented on #35
@Ocramius if we cannot parse PHP we could raise this as a warning or make it configureable as a parameter / config file flag.
I would also suggest to add exclude glob patterns to the default config, so it would be possible to exclude only the problematic files/paths.

@server-may-cry
do you have short-tags enabled within your php installation?
`php -i | grep short_open_tag`

[2017-10-23 08:27] server-may-cry commented on #35
@maglnet
[code]

I think we must take care about [exclude-from-classmap`](https://getcomposer.org/doc/04-schema.md#exclude-files-from-classmaps) option https://github.com/symfony/symfony/blob/master/src/Symfony/Component/DependencyInjection/composer.json#L45

[2017-10-23 12:49] Ocramius commented on #35
That's possible via BetterReflection, I suppose, but still very expensive.
In pseudo-code:

 1. Find all class names
 2. Get the AST for each

Note that this doesn't include scripts though, so the approach may be wrong.

On 23 Oct 2017 11:14, "Matthias Glaub" <notifications@github.com> wrote:

[2017-11-15 15:54] Adirelle opened #44 "PHP Fatal error with symfony/framework-bundle and traits"
I have got this error with master.

[code]

PHP Version:
[code]

I Added a var_dump just before the error, this gives me this:
[code]

Can be reproduced with the following composer.json (just do composer install and run composer-require-checker on it):

[code]

[2017-11-15 16:05] Adirelle commented on #44
I just added a non-null check around the failing statement and it works, without breaking the test suite, but this seems too easy.

[2017-11-15 21:07] maglnet commented on #44
@Adirelle the null check seems to be sufficient, since the parameter is only null when a visibility modifier has changed.

This happens here:
https://github.com/symfony/framework-bundle/blob/34b13d9e21146b9cd9914d48ccc086230f04bf32/Tests/Controller/ControllerTraitTest.php#L535

Just as a side note:
I first thought it was the `"psr-4": { "\\MyNS\\": "./" }`  autoloader line that causes problems, bu

[2017-11-16 07:51] Adirelle commented on #44
#45 fixes it.

[2017-11-16 07:51] #44 closed

[2017-11-16 07:54] #37 closed

[2017-11-16 08:11] Adirelle opened #47 "ComposerRequireChecker lists unresolved symbols from vendors"
When the vendor directory is contained in the source directory, ComposerRequireChecker lists all unresolved vendors' symbols.

Full evidence here : https://gist.github.com/Adirelle/ce6a8045c93c86b98ff2b86cc504056f

I guess the same happens if the test directory is contained in the source directory.

[2017-11-16 08:28] Ocramius commented on #47
Must say that this feels like an excessive edge case. Most tooling will
simply not working with such a weird setup, and I wouldn't expect them to
work.

On 16 Nov 2017 10:11, "Adirelle" <notifications@github.com> wrote:

[2017-11-16 08:48] Adirelle commented on #47
Surprisingly, it is the first time I really have an issue with this. Most tools have an --exclude option, which is bulky but sufficient. I do not like this kind of directory layout either but I have legacy projects...

[2017-11-16 09:09] Ocramius commented on #47
Then this is tech debt that needs resolution before pushing the problem to
tooling. I have at least another 3 libraries which will just panic with
your edge case.

On 16 Nov 2017 10:48, "Adirelle" <notifications@github.com> wrote:

[2017-11-16 13:08] maglnet commented on #47
would this be solved by #46 ?

[2017-11-16 13:13] maglnet commented on #47
sorry, I got it wrong, probably this can hardly be fixed because the autoload directive says that your sources are within all directories (including `vendor`) so it also checks the files within `vendor`...
With #46 you can exclude `vendor` from classmap, but that will fail miserably I think.

[2018-01-17 21:30] keradus opened #49 "Please make a new release ;)"
Hi, recently you have merged PR that allows for Sf v4, yet there is no release with it.
Please, could you create one?

[2018-01-20 18:08] maglnet commented on #49
Done :-)
[0.2.0](https://github.com/maglnet/ComposerRequireChecker/releases/tag/0.2.0) is released and allows `"symfony/console":  "~3.0|~4.0"`

[2018-01-20 18:08] #49 closed

[2018-01-20 19:06] keradus commented on #49
thanks ;)

[2018-01-24 10:05] soullivaneuh opened #51 "Useless dependencies option"
It would be a great addition to be able to list useless dependencies. I mean an required dependency with no symbol usage at all.

Of course, it should be optional and the configuration file should accept packages to ignore.

Some packages could just provide configuration file or whatever not related to PHP directly, but used. This case would be a false positive.

[2018-01-24 10:29] Ocramius commented on #51
This is problematic due to how composer dependencies work, as sometimes you have to require a dependency, and then a third-party package performs a lookup to see if a certain HTTP client or extension is available, then looks for polyfills and so on.

This means that the useless packages would be filled with potentially dangerous false-positives.

[2018-02-14 14:47] #35 closed

[2018-02-22 12:44] mindplay-dk commented on #51
That fact makes it perhaps not useful for automation, but yhere could still be an option to request this check on demand - usually the maintainer is going to be able to tell false positives from real ones, so this check could definitely be useful in my opinion.

For example, after a large refactoring, such as splitting off certain members to a separate package - it's often hard to keep track of th

[2018-02-22 12:51] mindplay-dk opened #52 "Report guess dependencies from installed modules"
I got the following output:

[code]

All of the dependencies with no guessed dependency, in this example, could have been guessed - they're all installed. Reporting them ought to be fairly easy?

Bonus points for reporting the suggested version constraint 😃

Extra bonus points and cookies 🍪 for an option to automatically update your `composer.json` with suggested version constraints! 👀

[2018-02-22 13:04] Ocramius commented on #52
You mean figuring out the `composer.json` in a parent directory of any of these?

[2018-02-22 15:33] mindplay-dk commented on #52
I'm not sure what you mean by that.

Ideally, I'd like a report that looks like the following:

[code]

This should be possible by resolving the location of `mindplay\implant\AssetPackage` using autoloader settings from `composer.json`, to see which target folder (e.g. `vendor/x/t`) it resolves to, then query Composer (or maybe [composer-locator](https://github.com/mindplay-dk/composer-locator)) t

[2018-02-22 15:35] Ocramius commented on #52
Ah yes, this should be feasible, but it requires switching to https://github.com/Roave/BetterReflection first, so that files can be located without being actually loaded.

[2018-02-22 18:54] Soullivaneuh commented on #51
@mindplay-dk Well explained what I think about that.

This is also why I said the configuration file should accept packages to ignore.

[2018-02-23 13:33] Soullivaneuh opened #53 "xdebug max nesting level issue"
With a quite big PHP project:

[code]

This max nesting level should be increased via `ini_get` or xdebug should be disabled at runtime if you don't need it.

[2018-02-23 13:40] Soullivaneuh opened #54 "Syntax error, unexpected T_STRING"
[code]

Using `--ignore-parse-errors` works but keep the lot of warning messages.

It would be great to see which files causes this error.

[2018-02-23 13:41] Ocramius commented on #53
@Soullivaneuh that's not something this tool should be responsible for: you will get the same kind of issue on anything designed to perform recursive analysis.

[2018-02-23 13:41] #53 closed

[2018-02-23 13:42] Ocramius commented on #54
Can you try running with `-vvv`?

[2018-02-23 13:45] Soullivaneuh commented on #54
Of course, but you have nothing more:

[code]

[2018-02-23 13:48] Soullivaneuh commented on #53
Well, is xdebug needed here? Composer found a way to disable it while running the command AFAIK.

[2018-02-23 14:02] Ocramius commented on #53
Yes, but any static analysis tool would have to do the same as well. Just disable XDebug as needed here: asking the tooling to control your environment is very backwards.

[2018-02-23 14:14] Soullivaneuh opened #55 "False positives on some bundle"
Command result (extract):

[code]

[2018-02-23 14:34] Soullivaneuh commented on #55
Another false positive not related to bundles:

class: `SLLH\IsoCodesValidator\Constraints\CreditCard`
library (required): `sllh/iso-codes-validator`

[2018-02-23 15:03] Soullivaneuh commented on #55
I updated the issue body. Except `Composer\Script\Event` and `KERNEL_ROOT_DIR` (I have to instigate about why), all are false postivives to me.

[2018-02-23 16:51] Ocramius commented on #55
@maglnet do we have something to collect all defined symbols and the defining files? Would be interesting to have some debug output that dumps all files associated with the originating file.

[2018-02-23 16:56] Ocramius commented on #55
@Soullivaneuh it seems that all the `Bundle` classes aren't there. Are they by chance in a classmap instead of a PSR-0 or PSR-4 namespace?

[2018-02-23 17:03] Soullivaneuh commented on #55
You are right, only some are reported.

It looks like not. But I found the `target-dir` is used. Example: https://github.com/Gregwar/ImageBundle/blob/v2.1.3/composer.json

I check that on some bundle of this list, and they all use this keyword. I think it's a clue. :+1:

[2018-02-23 17:05] Ocramius commented on #55
I don't think `target-dir` will really work out then... seems much more complicated than is needed...

[2018-02-23 17:10] Ocramius commented on #55
`target-dir` seems to be [deprecated](https://getcomposer.org/doc/04-schema.md#target-dir), so I really wouldn't dig into this...

[2018-02-23 17:15] Soullivaneuh commented on #55
@Ocramius Well, is that really hard to manage `target-dir`? If not it would be a great fix. If yes, and because it's deprecated, in this case the bundles should be fixed.

Maybe this tool should also trow a warning about that?

Going back to the issue. Some other bundle does not work simply because composer.json is not present. For example: https://github.com/dmaicher/doctrine-test-bundle/blob/ccd

[2018-02-23 17:29] Ocramius commented on #55
@Soullivaneuh most of these issues would be fixed by switching to BetterReflection, I reckon. It's just not gonna be nice for performance, but it would be much, much more reliable :-)

[2018-02-24 13:16] maglnet commented on #55
Sadly currently not, but this should be done soon as it would make debugging issues like this a lot easier and also gives a user hints where dependencies are found without the need to do a fulltext search within the code.

[2018-02-24 14:10] maglnet commented on #54
Regarding the warnings:
This seems to be related to a `*` within an `exclude-from-classmap` key, that makes the regex invalid, but I currently do not understand why this fails, because I think we're using the same logic like the composer classmap generator.
Could you please check if `composer dump-autoload -o` gives these warnings, too?

The Syntax error could also be caused by a short open tag, y

[2018-02-26 09:36] Soullivaneuh commented on #55
It's a dev tool. IMHO, we can drop a bit of performance to make it more reliable. :wink:

[2018-02-27 15:23] Soullivaneuh commented on #55
Another case: `Sensio\Bundle\GeneratorBundle\SensioGeneratorBundle`

For this one, I don't know why composer-require-checker is yelling. The `composer.json` file is present and the deprecated `target-dir` is not used at all.

[2018-02-27 15:37] Soullivaneuh commented on #55
Concerning `Swift_*` classes, they are correctly required but no psr-0/4 autoload on the composer file:

[code]

[2018-02-27 15:40] Soullivaneuh commented on #55
Concerning `KERNEL_ROOT_DIR`, it's a constant I defined on a php file:

[code]

And this php file is auto-loaded by composer, so it should not be an issue.

[2018-02-27 16:05] Soullivaneuh commented on #54
Here is the result of the `dump-autoload`:

[code]

Concerning the short_open_tag:

[code]

[2018-02-27 16:45] soullivaneuh opened #56 "Unable to read config.json"
While trying to apply #37:

[code]

[2018-02-28 15:39] elazar opened #57 "Add support for locating unused Composer dependencies"

[2018-02-28 15:42] Ocramius commented on #57
Duplicate of https://github.com/maglnet/ComposerRequireChecker/issues/14

[2018-02-28 15:42] #57 closed

[2018-03-01 14:31] Soullivaneuh commented on #53
the xdebug disabling logic is available as a package: https://packagist.org/packages/composer/xdebug-handler

It looks quite simple to implement: https://github.com/vimeo/psalm/pull/350/files

It's maybe not our role to disable it, but IMHO it worth it.

[2018-03-01 14:37] Ocramius commented on #53
Again: by that logic, any CLI script out there in the wild should do this.

No, that's wrong and it should simply not be done: run without XDebug when you need to run without XDebug.

This kind of wrapper is something you can implement in your own logic when instantiating the kernel of a performance-critical application.

[2018-03-03 10:00] maglnet commented on #55
Ok, I understand the problem with `Swift` classes: the mentioned die only registers an autoloader but does not define the symbols, so I think all `Swift_*` classes are unknown.
I think we cannot fix this, because it is afaik impossible to get all known classes from an autoloader.
Nevertheless, the Swift project could add an `psr-0` path to its `composer.json`. This would probably fix the issues wi

[2018-03-05 10:35] Soullivaneuh commented on #55
Nevertheless, the Swift project could add an psr-0 path to its composer.json.

Please see https://github.com/swiftmailer/swiftmailer/issues/971#issuecomment-370377599.

The define function is on the `app/env.php` and autoloaded by composer:

[code]

[2018-03-07 15:09] Soullivaneuh commented on #55
Another false positive since I split the Symfony fullstack requirement from my project:

[code]

But they are correctly required and installed under a dev env:

[code]

[2018-03-07 15:16] Ocramius commented on #55
Are they used in `src`? If so, it's not `require-dev`.

[2018-03-07 15:18] Soullivaneuh commented on #55
@Ocramius It's quite more complicated, it's only bundle instantiation on `app/AppKernel.php` and later on `config/bundles.php` according to Symfony Flex structure.

[2018-03-07 15:20] Ocramius commented on #55
Most likely to be reported upstream then

[2018-03-07 15:34] Soullivaneuh commented on #55
What do you mean?

`config/bundles.php` is a special file to activate or not the bundle according to environment. There is no reason to require debug-bundle on production.

Maybe not really a false positive according to the current behavior, but it would be great to have an option to specify files where both can be accepted (dev and not). :+1:

[2018-03-07 15:36] Ocramius commented on #55
Well, if it's in the considered sources, then it should *not* be in `require-dev`, but in `require`. It really is just that.

If `config/bundles.php` does environment switching decisions and still relies on these symbols, the solution is to split it up to paths that aren't considered as "production-ish".

[2018-03-07 15:39] Ocramius commented on #55
Btw, yes, I fully understand where this comes from: I'm just saying that the exit code with this particular tool will always be `1`. We have similar "opt-in dependencies" in zendframework too, and they're really no fun when they land in production and things start to crash by accident.

[2018-03-07 15:46] Soullivaneuh commented on #55
I understand your point of view but I still think files like `config/bundles.php` are very special.

I won't require packages on production if I don't need them.

Plus for that case, it will an issue for a lot of people following the Symfony standard.

Adding a simple option listing the specific files where the tool should not care if they are require on dev env or not and let the user take the ri

[2018-03-07 15:51] Soullivaneuh commented on #55
Well, the `config/bundles.php` *may* be not an issue as this file is not event autoloaded by composer.

[2018-03-07 16:07] Ocramius commented on #55
I said it many, many, many many times: I don't care what `symfony` does. In this and in other contexts. I also don't care about what `zendframework` does either, since it's not the scope of this project. The tool simply reports if something doesn't respect the simple rule of "X used in Y but is not in `require`".

My simplistic suggestion (because every tool is opinionated, and these will always p

[2018-03-07 16:10] Soullivaneuh commented on #55
Yeah, your choice, I'm not trying to convincing you. But yes, an option to permit both would solve everything! :+1:

I'm on the issue.

[2018-03-07 16:16] Soullivaneuh opened #58 "Option to exclude check from some file"
Ref: Report https://github.com/maglnet/ComposerRequireChecker/issues/55#issuecomment-371168782

It would be great to be able to specify a file where some symbol check will be ignored.

We can simply provide a list of file to totally exclude:

[code]

Or also provide the namespace to ignore on each file:

[code]

As the original issue was about dev dependencies, the best would be also to specified

[2018-03-20 21:13] maglnet commented on #55
The problem regarding the constant from https://github.com/maglnet/ComposerRequireChecker/issues/55#issuecomment-368920763 should be fixes with 0.2.1

[2018-03-20 21:20] maglnet commented on #54
The `Warning: preg_match(): Compilation failed...`  should be fixed with 0.2.1 now. / #60

[2018-04-03 14:23] hkdobrev opened #63 "Dev dependencies are reported as false positives"
We have dev dependencies like `behat/behat` and `phpstan/phpstan` and then we use them in our code only in local environment. These dependencies are correctly added to `require-dev`, but the checker report them as missing.

| Violations                                                               |
| ------------------------------------------------------------------------ |
| Behat\Behat\Context\

[2018-04-03 14:26] #63 closed, assigned to Ocramius

[2018-04-03 20:33] hkdobrev commented on #63
I finally got how the checker decides which files to check. It goes through what Composer would autoload. I had a mix of a Composer-autoloaded modern codebase using more legacy framework code with a custom autoloader.

I was able to remove the custom autoloader using classmap autoloading and now I get more normal violations.

[2018-04-03 20:38] hkdobrev opened #64 "Defined constants in a namespaced file are not registered"
I have the following file defining constants:

[code]

This code works in PHP and uses the built-in `define` function.

However, these lines:

https://github.com/maglnet/ComposerRequireChecker/blob/281435afb02468595ee139694f2befd5f5ca2bf6/src/ComposerRequireChecker/NodeVisitor/DefinedSymbolCollector.php#L90-L95

make the checker ignore this pattern and the code needs to change to:

[code]

for the

[2018-04-03 20:41] hkdobrev opened #65 "Function exists checks are not passing the checker"
I have code similar to:

[code]

So running this with XDebug extension would get the trace differently, but it could work without XDebug. There could be other conditional uses of a function or a class, especially for backwards-compatibility.

However, the checker complains about these function uses as the parses doesn't detect the `function_exists` condition.

[2018-04-03 20:42] hkdobrev commented on #65
`class_exists` checks are also quite common and would probably also suffer from the same issue.

[2018-04-03 20:46] Ocramius commented on #65
`function_exists()` is a runtime expression with another runtime expression
as parameter. This can only be used if:

 * The parameter is a constant expression
 * The `\function_exists` symbol is referenced absolutely or via `use
function`.

In either way, that is not something this library should go in, as the
complexity explodes massively, and every conditional leads to two
separately checked sco

[2018-04-05 21:07] hkdobrev commented on #64
I got another case which works with the checker:

[code]

The use of `\define()` works with `composer-require-checker`, but not with PHP Code Sniffer about PSR-1. And the `use function define;` works with both `composer-require-checker` and `phpcs`, but is removed from our rules for PHP CS Fixer as obsolete.

Could you please point me in the right direction where the issue is as I think both check

[2018-04-05 21:27] hkdobrev commented on #64
I'll try to clarify on your points:

- I am using the built-in `define()` function.
- I want to register a constant which is not in a namespace.
- I do that from a file which has a namespace, though.
- I need to go through hoops to do that.
- PSR-1 is not obsolete (PSR-0 is). We actually enforce PSR-2, but it includes PSR-1 in itself and PHPCS reports the violation as part of PSR-1.

The specific

[2018-04-05 21:28] hkdobrev commented on #64
OK, thanks! 😸

[2018-04-05 21:29] Ocramius commented on #64
Yes, this is clearly a phpcs issue :-) (sorry, closed the issue by accident)

[2018-04-05 21:30] Ocramius commented on #64
Btw, the `doctrine/coding-standard` forces `use function` and doesn't have these issues, so I think you might be running on some older sniffs...

[2018-04-05 21:38] hkdobrev commented on #64
@Ocramius Both code blocks you've posted above work in `composer-require-checker`, but not on the latest PHPCS. I was indeed on an older version and just upgraded to the latest stable one. Reading their code, doesn't seem to be supported.

But fair enough, if these 2 work in the require checker, I think it's fine for static code analyser to not check whether I have a `define()` function in that na

[2018-04-05 21:38] #64 closed

[2018-04-05 22:51] hkdobrev opened #66 "Accept extensions defined in `config.platform`"
Composer would accept `config.platform` versions when resolving dependencies even if they are not present on a local installation. Could the require checker use that and do not report missing extensions when they are defined in `config.platform`?
This of course assumes the versions you define in `config.platform` are really present on your production environment.

Links:
- [Platform packages](http

[2018-04-07 21:54] maglnet commented on #66
The problem with this one is, that an unknown function can not reliable be matched to an extension.

Let's say you define `ext-foo` within your `config.platform` and you're using function `bar()` (defined by `ext-foo`).
Since `ext-foo` with all its functions isn't available we have no chance to find out if the extension would have defined this function and so the `config.platform` setting is usele

[2018-04-07 21:54] #66 closed

[2018-05-25 12:13] Majkl578 opened #69 "Upgrade to PHP Parser 4.0"
PHP Parser 4.0 was released back in February, would be nice to use it here. :blush:

[2018-05-30 11:03] Majkl578 opened #70 "Configuration options to include packages from require-dev and suggests"
It seems that currently only packages used directly in `require` section are considered.
There are multiple cases when packages are optional dependency and as such are only present in `suggest` (and possibly also `require-dev`) section. These are currently reported as missing dependency, although they are not  hard dependency.

[2018-05-30 12:21] Ocramius commented on #70
This is exactly what this package is about: finding them and marking them as violation

[2018-05-30 12:21] #70 closed

[2018-05-30 12:52] Majkl578 commented on #70
Duplicate of _"False positives on some bundle and classes"_ - you didn't really want me to find that issue as relevant report, did you? :)

And it is exactly what is wrong, it's not a violation, it's expected. And there is no way to configure it (I don't consider `symbol-whitelist` as a sufficient solution, that's rather a hack).

[2018-05-30 13:07] Ocramius commented on #70
No, I simply proactively link issues together.

Not in this package - the design is specifically around preventing optional dependencies upfront.

A package such as `doctrine/cache`, for example, having multiple dependencies on multiple extensions, would never pass here, but would need to be split into `doctrine/cache`, `doctrine/cache-memcache`, `doctrine/cache-redis` and so on.

Again: this is b

[2018-05-30 13:19] Majkl578 commented on #70
The description of this package clearly says:

`require-dev` is also a dependency, `suggest` sort of too (suggesting a package implies that your code is aware of its (non-) existence).

Not possible until Composer has a strategy to define package _sets_/_unions_ and choosing defaults for them. Without that, you either end up with ton of useless dependencies at runtime or missing dependencies (i.e.

[2018-05-30 13:33] Majkl578 commented on #70
Only applicable to libraries and production code.

You are talking about some uncertain distant future. I am on the other hand talking about real-world situation/problem that is found in basically any larger package.

It's not an _issue_ here, but it's a trouble caused by rejecting the state in which PHP ecosystem currently is and will be for a while. (Even if composer adds such thing tommorow, it

[2018-05-30 13:43] Ocramius commented on #70
This is specifically for that: why would you need such checks otherwise?
Your `"require-dev"` is about checking that your sources and your deployable binaries do work.
Your `"require"` section is about making sure your deployable binaries (or your consumers, if you are a library) have all dependencies.
This is a `"require-dev"` package aimed at isolating issues in incorrect `"require"` scope.

Wor

[2018-05-30 13:49] weierophinney commented on #70
@Majkl578 From a maintainer's point of view, "suggest" is a nightmare.

Why?

Because somebody will go and install the package, try to use that optional feature, and then file an issue saying, "feature X does not work". Maintainers will calmly point out that the feature is optional, and requires a dependency marked in the "suggest" section. The user will say they did not see it, and perhaps that d

[2018-05-30 13:52] Ocramius commented on #70
Note: it doesn't need to be separate repositories, but the distributed package (for which `"require"` is the only important bit) shouldn't have optional deps in it

[2018-05-30 14:14] Ocramius commented on #70
Taking this example specifically:

[code]

This is the correct resolution for such a scenario. If the `doctrine/orm` package uses `Yaml` somewhere, then it needs to explicitly `"require": {"symfony/yaml":"^4"}`. Whether consumers will have an additional dependency or not is less problematic than consumers having to install optional dependencies, or being burnt by an optional dependency that got in

[2018-05-30 14:18] Majkl578 commented on #70
In such case, which driver will I get when I simply do `composer require doctrine/orm`?
None?
One that _maintainers chose as default_ (and which I might not ever use)?

[2018-05-30 14:26] Ocramius commented on #70
The ones that can work with the given set of `"require"`. The PHP driver would work out of the box, the annotation one would require `doctrine/annotations` (which is [there](https://github.com/doctrine/doctrine2/blob/v2.6.1/composer.json#L21)), and for the XML driver you'd either add `"require": {"ext-xml": "*"}` or split it out like the yaml driver.

This is a trade-off that comes with most libra

[2018-06-05 12:36] bcremer opened #71 "How to declare SAPI specific functions like fastcgi_finish_request"
How should a SAPI specific functions like `fastcgi_finish_request` be declared in `composer.json`?
Is it worth to add this function to a global whitelist?

[code]

[2018-06-05 12:37] Ocramius commented on #71
Hmm, there is no way to constraint that via `"ext-something"`, right?

[2018-06-05 12:46] bcremer commented on #71
@Ocramius Even if I could declare it as `ext-sapi-fpm` in my `composer.json`, would this break `composer check-platform-reqs`.

[2018-06-05 15:18] Ocramius commented on #71
This should probably be in your config file then: https://github.com/maglnet/ComposerRequireChecker/blob/7b46f4409a45d506900ff04e9d38d27467faa8eb/src/ComposerRequireChecker/Cli/CheckCommand.php#L118

[2018-06-13 07:50] bcremer commented on #71
I can confirm that I can whitelist `fastcgi_finish_request` as a symbol in the config file:

[code]

It would be nice to have an option to now overwrite the "built-in" symbols, but that's another issue.

I'm closing this. Thanks for you support @Ocramius.

[2018-06-13 07:50] #71 closed

[2018-06-19 11:21] WDD-Marv opened #73 "composer-require-checker check not picking up phpmailer"
With & without `optimize-autoloader` being set to `true` in `composer.json`, `composer-require-checker check ./composer.json` lists `PHPMailer\PHPMailer\PHPMailer` as an "unknown symbol", which is a little odd as I've got other packages loaded with psr-4 that drop off the list when I pull them in with `composer require` :s

reproduction coming up shortly.

[2018-06-19 11:31] Ocramius commented on #73
Reproduction should be a test case that can be integrated with this test suite. In https://github.com/Roave/BackwardCompatibilityCheck/blob/1.0.3/src/SourceLocator/StaticClassMapSourceLocator.php I implemented a source locator capable of working with any `composer dump-autoload -a` output (as per composer 1.6.4)

[2018-06-19 12:15] WDD-Marv commented on #73
not sure how to integrate it with the test suite while at work- was just about able to smoosh together a bare-minimum reproduction repo- reproducing the problem with `composer install && composer run tests`

[2018-06-20 06:18] Ocramius commented on #73
@WDD-Marv we all do work as well, heh 😛

I think we might need a better abstraction for detecting files overall though: the current one is very much a hack.

[2018-06-20 08:06] WDD-Marv commented on #73
@Ocramius I'm wondering if it's something specific to the symbol `\{a}\{b}\{c}` where a, b, & c are equal to "PHPMailer"- I've not used anything else with this package that I've observed has the same class name..

Let me test that theory...

[2018-06-21 13:34] WDD-Marv commented on #73
additional note: swiftmailer classes aren't being picked up either.

[2018-06-25 15:44] Soullivaneuh opened #74 "Missing symbol false positive for internal code"
I added the following class on my `src-dev` folder:

[code]

And my composer.json extract:

[code]

The cli detects `Dev\TestCase\MockFileSessionStorage` as an unknow symbol. I don't understand why at all, maybe a bug?

Note: I also have two traits on this folder with same namespace and it seems ok for the cli tool.

[2018-06-25 16:57] Ocramius commented on #74
Dev dependencies/paths are ignored by the tool (and they should be, since they don't matter once in production)

[2018-06-26 20:35] #69 closed

[2018-06-29 13:04] julienfalque opened #76 "Configure extra files to check"
In the `bin/console` file of a Symfony project, a used symbol that is part of `require-dev` in the `composer.json` file is not reported by `composer-require-checker`. If I understand correctly, this is because `bin/console` is not part of an `autoload` directory (`src/`) and thus not checked at all. But the console will still crash after running `composer install --no-dev`.

Is there a way to make

[2018-06-29 13:07] Ocramius commented on #76
Hi @julienfalque,

If a dependency is not in `"require"` then it is to be ignored by the tool, because consumers of your package may not get that dependency at all in first place (which is what this package is checking in first place), and that will lead to a crash.

If this is an exception to the rule, you'll need to configure it as such.

[2018-07-02 07:17] julienfalque commented on #76
Sorry, I don't understand your answer. Isn't the purpose of the tool to report used symbols that are not part of `require`? That means those are *not* ignored, right?

In my case, if I move the file into the `src/` directory (and rename it to `console.php`), the tool does report the unknown symbol.

[2018-07-02 07:19] Ocramius commented on #76
Oh, then I totally misunderstood. Re-opening

[2018-07-12 12:04] marcosh opened #78 "provide docker image"
It could be really nice if a Docker image was provided, so that one could use a command like

[code]

to run the executable

[2018-07-12 12:22] Ocramius commented on #78
Don't think that starting to dockerise CLI projects is a good idea: yes, feasible, but it brings in a lot of additional effort for something that "just works" when having the PHP binary. `docker run -v $(pwd):/app -v path/to/composer-require-checker:/checker php:7.2 /checker/cli/composer-require-checker` works as well

[2018-07-12 13:21] marcosh commented on #78
It would be more than enough for me to have the `docker run` command in the readme, so one could use the script without having the need to have the PHP binary installed

[2018-07-12 20:43] kitsunet opened #81 "Custom vendor-dir and install paths are not recognised."
Doesn't even need to be automatic, if that became configurable instead of using the harcoded `vendor` here https://github.com/maglnet/ComposerRequireChecker/blob/master/src/ComposerRequireChecker/FileLocator/LocateComposerPackageDirectDependenciesSourceFiles.php#L15

that would be super helpful :)

If that's something you can agree with I could look into creating a PR.

[2018-07-12 20:45] Ocramius commented on #81
Overall understandable request, but really, I'd rather throw an exception that says it is unsupported. I even throw exceptions when I find a custom `"vendor-dir"` (on other projects of mine). It breaks so many assumptions that you'd really need to go hunting around the ecosystem in general.

[2018-07-12 20:47] kitsunet commented on #81
Yep, I can see that. I am fine with that. Took me a bit to figure out why it literally didn't find any of the dependencies in a project were that is all custom...
I guess having a "not supported" message would be something :)

Maybe I create just a super custom version for that.

[2018-07-12 20:48] Ocramius commented on #81
Instead of detecting from `composer.json`, we may ask the user for a path - probably better? Would allow testing projects with multiple composer installations too.

[2018-07-12 20:49] kitsunet commented on #81
Sure, that would work!

[2018-07-13 12:22] jaapio commented on #78
someing like `docker run --rm -v $(pwd):/app --workdir=/app php:7.1 php composer-require-checker.phar` ?

[2018-07-13 13:23] Ocramius commented on #78
Yeah, but... What's the difference with `cd /your/project && php composer-require-checker.phar` and that? :P

I understand it, but please think about the implication on ecosystem level: does it make sense to have these directions, considering that the entire PHP ecosystem simply assumes that you have a PHP binary of some type (locally installed, remote, VM or docker doesn't matter)?

[2018-07-13 13:29] jaapio commented on #78
not everyone is using docker. And I think people who do use docker on a daily base will be able to reproduce the command I added in just a sec.

[2018-07-13 13:33] Ocramius commented on #78
From my PoV (and I was a nay-sayer before), this is just a question of time.

[2018-08-22 09:50] ondrejmirtes opened #82 "Checker doesn't see php-core-extensions section from config file"
Hi,
I'm running Composer Require Checker on a codebase, like this:

[code]

The `composer-require-checker.json` looks like this:

[code]

The problem is that it still reports PHP core extensions:

[code]

It does not ignore the first part of the config file because the keywords are no longer reported.

[2018-08-22 10:41] maglnet commented on #82
Hi,

did you eventually forgot to require `php`?
How does your `composer.json` look like?

Best regards,
Matthias

Am 22. August 2018 11:50:39 MESZ schrieb "Ondřej Mirtes" <notifications@github.com>:

[2018-08-22 11:37] dkarlovi opened #83 "Support for metapackages (type: metapackage, type:symfony-pack)"
[Composer has a concept of `metapackage` package type](https://getcomposer.org/doc/04-schema.md#type) which allows a package to declare multiple dependencies, but the user only requires the metapackage.

Symfony takes advantage of this with [packs](https://getcomposer.org/doc/04-schema.md#type), for example [`orm-pack`](https://github.com/symfony/orm-pack) or [`profiler-pack`](https://github.com/s

[2018-08-22 11:41] dkarlovi commented on #83
See the Twitter thread starting here: https://twitter.com/dkarlovi/status/1032187403585441792

[2018-08-22 11:42] Ocramius commented on #83
This is a clear "NO".

The idea of introducing dependency checks is to avoid any kind of instability, and having an in-between meta-package is only leading to unstable dependencies that may bump independently as per composer's SAT solving mechanism.

A similar example is `zendframework/zendframework`, which is a meta-package pointing to all its components: requiring it and using symbols from the `

[2018-08-22 11:42] #83 closed

[2018-08-22 11:44] tgalopin commented on #83
I like how everyone is open to dialogue and read all the messages about packs being specific packages ;) . Anyway, I spent too much time on this, I won't fight for it :) .

[2018-08-22 11:48] Ocramius commented on #83
@tgalopin it's not an opinion: this is the design principle of the package, and why the package was designed in first place. If people want to work around it, they should simply not add a dependency check tool to their test automation.

[2018-08-22 11:51] dkarlovi commented on #83
Alright, fair enough. :+1:

I guess you can always unpack on CI and then run the tool as-is which is close enough.

[2018-08-22 13:33] ondrejmirtes commented on #82
Yes, `php` in `require` was the missing thing 😊 I wasn't able to figure that out from the output.

[2018-08-22 13:33] #82 closed

[2018-08-22 14:03] maglnet commented on #82
Ok, great.
I think of the following improvement:
If the guessed dependency is one of the extensions listed within `php-core-extensions` the guessed dependency should be `php`.
Opinions?

[2018-08-22 14:47] SvenRtbg commented on #83
If you are interested in running the require checker, you should know what it's about. It requires you to explicitly declare all dependencies. Symfony packs are full of indirect dependencies, and all problems with them are valid.

Fabien recommends to unpack the packs if you want to have control over the installed dependencies. http://fabien.potencier.org/symfony4-unpack-the-packs.html

If you car

[2018-08-23 07:01] simPod opened #84 "Maximum function nesting level of '256' reached"
Sometimes the maximum nesting level is reached. Would it be a good idea to add an option to exclude dependencies from analysis? In my case it would be PhpParser.

[code]

[2018-08-23 07:36] SvenRtbg commented on #84
Disable XDebug or increase the max_nesting setting. PHP itself does not come with this limit.

[2018-08-23 07:50] Ocramius commented on #84
Closing as per @SvenRtbg's comment.

You can also run `php -dxdebug.max_nesting_level=1000000 <whatever>` or such, if you want.

[2018-08-23 07:50] #84 closed

[2018-08-24 20:13] SvenRtbg commented on #81
Supporting `vendor-dir` should be easy to do. The mentioned code already gets the `composer.json` path to the main project and already reads that file to scan for `"require"` dependencies.

Adding to read the value of `["config"]["vendor-dir"]` and assuming `"vendor"` as default shouldn't be too much hassle. Note that this config value is "root-only", so it basically is just using one fixed or one

[2018-08-27 19:12] SvenRtbg commented on #81
Here we are, I have a patch proposal.

[2018-08-27 19:15] SvenRtbg commented on #81
While I'm at it: Why does this project allow `minimum-stability:dev` for it's dependencies? I get it from the commit history that once the nikic/php-parser version 2 required was unstable, but this never got reverted even though stable versions are available for eveything.

[2018-08-27 19:16] Ocramius commented on #81
@SvenRtbg separate patch if you want - I think it's just a leftover :)

[2018-09-01 07:42] #76 closed

[2018-09-12 10:49] mindplay-dk commented on #52
`ReflectionExtension` is used [here](https://github.com/maglnet/ComposerRequireChecker/blob/f180153409f86590f150c8fd80967ed99a0088e7/src/ComposerRequireChecker/DefinedSymbolsLocator/LocateDefinedSymbolsFromExtensions.php#L20) and the [compatibility chart](https://github.com/Roave/BetterReflection/blob/master/docs/compatibility.md) says it won't be supported.

I don't see any other usages of the Re

[2018-09-12 11:07] Ocramius commented on #52
Indeed, I think reflection is not used at all in here: probably outdated reasoning.

[2018-10-12 07:59] ondrejmirtes opened #92 "Parser error - how to debug it?"
Hi,
I'm experiencing this parse error in phpstan/playground project. Here it can be seen in this pull request: https://github.com/phpstan/playground/pull/13

[code]

I have no idea if it comes from the require checker itself or if I have a parse error somewhere in my dependencies.

[2018-10-12 08:09] Ocramius commented on #92
Did you try with `-vvv`?

On Fri, 12 Oct 2018, 09:59 Ondřej Mirtes, <notifications@github.com> wrote:

[2018-10-12 08:29] ondrejmirtes commented on #92
Also it's interesting that on Travis the message is different:

[code]

[2018-10-12 08:33] Ocramius commented on #92
Ah, so it is a parsing error on some of the analysed sources. Good question
then: I don't think it's up to this library to define whether sources are
parseable or not, but one thing that can be done here is running everything
with the debugger and putting a break point at the first exception, then
inspecting call parameters for the entire trace. Can most likely be
improved by adding tge parsed fil

[2018-10-21 14:04] vlobovikov commented on #92
I think that I have similar problem:
Tested with ComposerRequireChecker 1.0.0 & ComposerRequireChecker 1.1.0
php composer-require-checker.phar check -vvv

In ParserAbstract.php line 313:

  [PhpParser\Error]
  Syntax error, unexpected T_IMPLEMENTS, expecting T_STRING on line 43

Exception trace:
 PhpParser\ParserAbstract->doParse() at phar:///srv/.../composer-require-checker.phar/vendor/nikic/php-

[2018-10-21 14:08] vlobovikov opened #94 "ParserAbstract ERROR by Swaggehub generated library"
I have a problem:
Tested with ComposerRequireChecker 1.0.0 & ComposerRequireChecker 1.1.0
php composer-require-checker.phar check -vvv

[code]

I have the message with generated library from swaggehub. But, the problem have not every library from swaggehub
here is composer.json:

[code]

[2018-10-21 21:45] Ocramius commented on #94
@vlobovikov can you isolate it to the file that leads to this failure?

This looks like something I've previously encountered in some broken code generators that do things like:

[code]

[2018-10-21 21:46] Ocramius commented on #92
Assigned back, sorry - we'll need the sources that crashed here.

[2018-11-16 13:34] duncan3dc opened #97 "Unable to work with packages that don't export composer.json"
The [wikimedia/ip-set](https://github.com/wikimedia/IPSet) package is set to [not export composer.json](https://github.com/wikimedia/IPSet/blob/bad5eb89bff7b40fe626cb8b6caa89e7c9cf2da7/.gitattributes#L7).

This causes the [tool](https://github.com/maglnet/ComposerRequireChecker/blob/63efc5e7fc597e6fd8d41b26773be99888e1a989/src/ComposerRequireChecker/FileLocator/LocateComposerPackageDirectDependenc

[2018-11-21 10:57] Ocramius commented on #97
@duncan3dc if `installed.json` is always guaranteed to exist, then this may work. We'd still need a test case, though...

[2018-11-23 09:11] temp commented on #73
Stumbled upon the same problem. Might this be related to the fact that swiftmailer registers it's own autoloader?
Trying to debug and provide a testcase.

[2018-12-30 17:39] paslandau commented on #74
@Ocramius what do you think of either making this configurable (--include-dev-dependencies) or provide a way to exclude certain files / folders (e.g. tests)?

I have a similar use case where I created a custom task for https://github.com/phpro/grumphp and composer-require-checker complains about unknown symbols like
[code]
because grumphp is only set up as a dev dependency. Since

actually makes s

[2018-12-30 17:43] Ocramius commented on #74
Sorry, but dev dependencies are not dependencies. This tool is designed to aid package authors in making their releases safe for downstream consumers, so you cannot really have source paths relying on dev- dependencies. If it is internal code, downstream consumers should not receive it at all (should be a dev- only piece of code).

[2018-12-30 19:11] paslandau commented on #74
Gotcha, fair point.

What about the `--exclude` option?

[2018-12-31 15:47] Ocramius commented on #74
Closing here as duplicate of https://github.com/maglnet/ComposerRequireChecker/issues/58

[2018-12-31 15:47] #74 closed

[2019-01-05 14:22] gisostallenberg opened #98 "Return exit code to shell"
By returning the exit code from the command this tool can be used in automation.

The last line of `bin/composer-require-checker.php` should be changed to:
[code]
This will result in the following:
[code]
and
[code]

Do you want me to provide a PR?

[2019-01-19 04:35] pavarnos opened #99 "zend-opcache conflict"
Hi. Thanks so much for ComposerRequireChecker. I spent the day with it on a medium sized project and it found quite a few things to fix. great tool!

One small problem:

if i specify
[code]
in my composer.json then `composer update` works as expected but i get an error ` Extension zend-opcache does not exist` from require checker.

if i specify
[code]
in composer.json, then `composer update` fails

[2019-01-19 18:43] maglnet commented on #99
It seems that composer somehow creates a slug of the extension name before comparing.
We should find the part where composer modified the extension names and could implement this, too?

[2019-01-19 19:13] pavarnos commented on #99
ah. yes. found it here
https://github.com/composer/composer/blob/master/src/Composer/Repository/PlatformRepository.php#L313

[2019-01-22 19:01] maglnet commented on #7
@pavarnos I think your problem can already be solved by using an additional config file as described here: https://github.com/maglnet/ComposerRequireChecker#configuration

You may copy this file, add the symbols (function names and constant names) to the `symbol-whitelist` and then call comoposer-require-checker with the `--config-file=path/to/config.json` argument.

[2019-01-22 19:24] maglnet commented on #98
Since `\Symfony\Component\Console\Application::$autoExit` defaults to `true`, I don't really understand why this does not work for you.

References here:
https://github.com/symfony/console/blob/master/Application.php#L72
https://github.com/symfony/console/blob/master/Application.php#L178

[code]

[2019-01-22 23:38] pavarnos commented on #7
thanks. i did see that but wondered about overriding all these defaults with my own. Is there a way to _add_ to the defaults (in case they change in future)?

[2019-01-23 09:49] maglnet commented on #7
There's #72 addressing exactly your issue. For now only overriding is possible.

[2019-01-27 23:10] #99 closed

[2019-01-30 11:08] edmondscommerce commented on #92
I'm seeing this error, tracked it down to vendor/jakub-onderka/php-parallel-lint/tests/examples/example-04/dir1/dir2/index.php which contains clearly invalid code for testing purposes

The code in question is in the tests folder of php-parallel-lint

Unfortunately the autoload config for this library is ```  "autoload": {
        "classmap": [
            "./"
        ]
    },```

https://github.c

[2019-02-05 12:35] edmondscommerce opened #102 "Segfault When Running Against Repo that includes Faker"
Here is some strace output:

[code]

[2019-02-05 12:37] Ocramius commented on #102
Possibly more interesting as php-src bug, not a bug in here.

On Tue, 5 Feb 2019, 12:35 Edmonds Commerce <notifications@github.com wrote:

[2019-02-05 12:37] edmondscommerce commented on #102
removing faker from composer.json resolves it

[2019-02-05 12:49] Ocramius commented on #102
Yes, but that's not the root cause: it's possibly the parser getting stuck
on utf8 data.

On Tue, 5 Feb 2019, 12:37 Edmonds Commerce <notifications@github.com wrote:

[2019-02-05 17:23] edmondscommerce commented on #102
Fair enough

Any chance we could have some config to skip certain files to be able to work around this kind of issue?

[2019-02-05 17:31] Ocramius commented on #102
I'd rather fix the bug. Working around it just dumps the issue onto the
next faker user.

On Tue, 5 Feb 2019, 17:23 Edmonds Commerce <notifications@github.com wrote:

[2019-02-06 17:57] edmondscommerce commented on #102
makes sense

Would you like me to raise a PHP bug? to be honest I'm not totally sure how to present it

[2019-02-09 15:47] Ocramius commented on #102
Yes, raising a PHP bug with a reproducible example would be best.

[2019-02-09 15:47] Ocramius commented on #102
Meanwhile, closing as `invalid` here, since the source of the bug is in php-src

[2019-02-09 15:47] #102 closed

[2019-02-09 16:49] Ocramius commented on #92
Closing here as per previous comment at https://github.com/maglnet/ComposerRequireChecker/issues/92#issuecomment-429248849:

This sort of information is visible in traces, not really up to the lib to provide further information about crashes that are this deep in the trace, plus I'd also add that the operative assumption is that sources are well-formed PHP code.

[2019-02-09 16:49] #92 closed

[2019-02-19 12:12] freiondrej commented on #82
@maglnet I definitely agree. Today I ran into the very same issue and only because of the discussion in this issue I was able to find out why are the php-core-extensions "ignored".

[2019-02-25 10:30] henri9813 commented on #55
Hello,

I had the same issue, with `Cravler\MaxMindGeoIpBundle`, ( https://packagist.org/packages/cravler/maxmind-geoip-bundle )

composer.json:
[code]
My command and his output:
[code]

My usage:
[code]

Best regards,
Henri Devigne

[2019-03-05 21:14] duncan3dc commented on #97
Fix proposed in #105

[2019-03-05 21:14] #97 closed

[2019-03-06 22:39] duncan3dc commented on #98
I can't reproduce this either, I've submit some tests to ensure it works in #107

[2019-03-07 14:04] gisostallenberg commented on #98
I'm not sure why this did not work at a given time. In a new project it does work as expected. Thanks for looking into this.

[2019-03-07 14:04] #98 closed

[2019-03-21 21:56] kubawerlos opened #108 "False positive when using class_alias function"
When using function `class_alias` there is false positive result for alias.

Example:
[code]

and the result will be:
[code]

and it is only used as an alias in `class_alias` function.

[2019-03-21 23:23] Ocramius commented on #108
That's because `class_alias()` is a dynamic expression, not a static symbol declaration: I don't think `class_alias()` is recognised at all

[2019-03-25 11:27] MidnightDesign commented on #14
This package seems to be doing just that: https://github.com/icanhazstring/composer-unused

[2019-03-25 11:28] MidnightDesign commented on #51
Duplicate of #14?

[2019-04-16 01:14] sanmai opened #109 "Invalid version reported when installed without .git"
Install like so:
[code]
(`--prefer-dist` [is the default](https://getcomposer.org/doc/03-cli.md#install-i), but just to make sure...)

Observe:
[code]
But that's exactly my package's last version:
[code]
One way to tackle this problem is to [use Git's `export-subst` trick](https://stackoverflow.com/a/55699582/93540)  for, say `Cli/Application.php`.

 [Quick demo.](https://3v4l.org/XD2q3)

[2019-04-16 01:37] sanmai commented on #109
One way to tackle this problem is to [use `export-subst` for a file](https://git-scm.com/docs/gitattributes#_code_export_subst_code), say `Cli/Application.php`, then adding the following constant:

[code]
[code]
Then, on export, this constant will be replaced with the following:
[code]
Next you can check if `self::VERSION_INFO` begins with a dollar sign, and if not-parse out the version and the co

[2019-04-16 09:13] Ocramius commented on #109
Maybe we should just use `ocramius/package-versions` there

[2019-04-17 06:23] sanmai commented on #109
If it is acceptable to have another dependency, it'll work just as well if not better.

[2019-04-23 22:39] Levivb opened #110 "Prevent vendor directory from being parsed"
This could be a duplicate of https://github.com/maglnet/ComposerRequireChecker/issues/54
I'll open a separate issue though in order to avoid cluttering or take over that issue

When running `composer-require-checker -vvv`
I'm greeted with the following output after a few seconds:
[code]

From the looks of it, it seems the error originates from the [nikic/php-parser](https://packagist.org/packages/

[2019-04-24 13:05] maglnet commented on #110
could you please provide your `composer.json` file?

1. No, sadly not at the moment
2. We need to scan all autoloaded files, but there may be a misconfigured autoload section, so I'd like to check the `composer.json`
3. Afaik, not now, but files that are not required by your application or not in the autoload section should not be parsed. Test-Files, like listed in the output should be in `autoloa

[2019-04-24 20:08] Levivb commented on #110
`composer.json` is as following:
[code]

`laravel-modules/core` is a company package with the following `composer.json`:
[code]

the package with the syntax error seems to be `jakub-onderka/php-parallel-lint`

[2019-04-26 09:30] maglnet commented on #110
The "Problem" in this case are the autoload sections. They cause `composer-require-checker` to parse ALL files within the root directory.

There should be a subfolger with your php files, like "src" or whatever you like to call it, and your autoload-sections should only point to this directory.

[code]
and
[code]

[2019-05-05 20:40] Levivb commented on #110
Thanks for getting back to me. Due to a holiday I wasn't able to respond any sooner.

It seems you'r right, putting files in a `src` directory does fix the issue.

packages mentioned here are Modules loaded by [nwidart/laravel-modules](https://packagist.org/packages/nwidart/laravel-modules)
It's gonna be a bit of a challenge to get those packages working in a sub-directory, since they contain some

[2019-05-05 20:40] #110 closed

[2019-07-12 09:33] mfn opened #112 "Hard error don't show which file was tried to be analyzed"
Tried it the first time today, was greeted with this (already added `-vvv` to get a stacktrace):
[code]
After I changed `\ComposerRequireChecker\ASTLocator\LocateASTFromFiles::__invoke` to this:
[code]
I was able to locate the file in question => it's another vendor file:
[code]
That's a linter project whose tests contain invalid code.

Nevertheless, two suggestions:
- don't make me have to use `-

[2019-07-12 09:39] mfn commented on #112
The problem of the other project is also that it does not differentiate src from test files because it contains only a single `autoload` for everything => reported as https://github.com/JakubOnderka/PHP-Parallel-Lint/issues/140

[2019-07-12 11:23] Ocramius commented on #112
Duplicate of https://github.com/maglnet/ComposerRequireChecker/issues/92

[2019-07-12 11:23] #112 closed

[2019-07-12 21:16] Firehed opened #113 "Enhancement request: progress meter"
The default interaction (on 2.0.0) when running the checker has no indication that it's working when the analysis is running. The first couple of times I ran this, I ended up C-c'ing the process thinking it was stuck or otherwise waiting for input before realizing that it's just doing a bunch of stuff in the background and I need to wait. This made for a poor and confusing first experience with th

[2019-07-12 21:20] Firehed opened #114 "Enhancement request: add functionality to show where symbols are found"
When running this, it caught some dead imports that my other static analysis tools missed. This is great, but it was quite difficult to track down the source of the error, since some of the class names had a lot of similar matches, and partially-qualified imports (`use A\B; new B\C();`: `A\B\C` not found type of stuff) make grepping through the code a bit more complex.

A command to reveal where t

[2019-07-18 09:03] vctls commented on #84
Would there be any drawback in adding `-n` to the running script?

[2019-07-18 09:07] Ocramius commented on #84
I don't think that there would be any issue running with `-n`: no specific extensions needed by this tooling, as far as I know.

[2019-07-18 09:08] SvenRtbg commented on #84
Disabling any other optional extensions will affect the scan results for these functions and classes, i.e. I suppose the checker will report missing extension usage.

[2019-07-18 09:12] Ocramius commented on #84
True that. Running with `max_nesting_level` (or without xdebug) would be sufficient.

[2019-07-18 09:20] vctls commented on #84
Yes, I just tried it and got different results. Thanks for the clarification.

[2019-08-21 13:06] mmenozzi commented on #55
Hi guys,
I don't know if this is related to this issue but I tried to run this tool on https://github.com/Sylius/Sylius-Standard and I get this:

[code]

I think that a lot of these are false positives. For sure `Symfony\Component\DependencyInjection\Loader\YamlFileLoader` (and other loaders) and also `Webmozart\Assert\Assert`. What am I missing?

[2019-08-21 13:38] Ocramius commented on #55
I don't see `webmozart/assert` in your dependencies

[2019-08-21 14:20] mmenozzi commented on #55
It's a dependency of `sylius/sylius`:
https://github.com/Sylius/Sylius/blob/master/composer.json#L97

[2019-08-21 14:51] kubawerlos commented on #55
@mmenozzi the idea of this tool ;) -> https://github.com/maglnet/ComposerRequireChecker#whats-it-about

[2019-08-22 12:48] mmenozzi commented on #55
I swear that I've read it before submitting this comment. Now I just read it again twice and I understood. Sorry guys.

[2019-08-29 09:27] LeoVie opened #139 "Allow passing project directory to command instead of path to composer.json"
Given you have a project in `/var/www/foo-project`.

Then you have to call `composer-require-checker check /var/www/foo-project/composer.json`.

It would be nice if you could just pass the directory to the command: `composer-require-checker check /var/www/foo-project` and the command would check if there is a `composer.json` in this directory.

I guess this could be reached by extending the constr

[2019-08-29 09:31] LeoVie commented on #139
I guess this could be reached by extending the constructor of `ComposerRequireChecker\JsonLoader` with the following:
[code]

[2019-08-29 10:25] Ocramius commented on #139
I'd say that running with an explicit `composer.json` is sufficient, while adding code to the repo to support another use-case is more problematic.

Closing as `won't fix` here.

[2019-08-29 10:26] #139 closed

[2019-08-31 18:51] keradus opened #140 "broken phar release"
If installed via composer:
[code]

If downloaded as phar:
[code]

[2019-08-31 19:08] keradus commented on #140
I am not familiar with phing ( I use `humbug/box`, originally `box-project/box2` ), thus I won't be able to help with phing configuration, yet... stubfile created for phar file is the root cause.

[code]
`interceptFileFuncs` is the reason for crash i experience - https://www.php.net/manual/en/phar.interceptfilefuncs.php :

also, generated phar includes http handling (eg `header('HTTP/1.0 404 Not F

[2019-09-16 21:24] cxj commented on #56
This appears to be a bug in handling relative path names to the config file.  If you use an absolute path (e.g. `/Users/foo/project/config.json`) it will work.  I am seeing this problem as well:
[code]

My SWAG is that this is because of the way the PHAR is constructed, and the current working directory is not what the CLI expects it to be.

[2019-09-16 22:04] Ocramius commented on #56
Related? https://github.com/maglnet/ComposerRequireChecker/pull/141

[2019-09-19 10:00] carusogabriel opened #144 "Add extensions to `php-core-extensions` config without need of extend"
Hello there. Is it possible to add extensions to the `php-core-extensions` config key without the need of copy and paste the default ones? For example:

This:
[code]

instead of this:
[code]
?

If I do the first option, I'm getting this error in the CLI:

[code]

[2019-09-19 10:29] Ocramius commented on #144
@carusogabriel what about handling the `"require"` section instead?

I don't think we should make the config merge the defaults.

[2019-09-19 11:04] carusogabriel commented on #144
@Ocramius We've faced a big problem by requiring the `pcntl` and `kafka` extensions in our project, so we've decided to exclude them for now.

Okidoki, thanks for the position.

[2019-09-19 11:04] #144 closed

[2019-09-19 11:11] Ocramius commented on #144
Note that the package is supposed to expose the pain, not alleviate it :-P

[2019-09-24 21:04] mpdude commented on #58
I know that Symfony best practices are outside the scope of this project. However, for a long time there has been a practice of keeping tests inside `src/Some/Bundle/Tests/*`, and so it would be valuable if we could exclude these directories from checks.

[2019-09-24 22:00] Ocramius commented on #58
I think this is fixed by https://github.com/symfony/symfony/pull/33579

[2019-09-25 07:08] mpdude commented on #58
Not sure why... does it?

[2019-09-25 07:12] Ocramius commented on #58
It basically drops rhose tests from the (confusing) source tree of symfony components.

In practice, symfony could split the sources from the tests, which would be a better fix, but the above suffices.

[2019-09-27 13:27] mpdude commented on #58
Sorry for the noise... What I meant was that in many projects that I know, there is `src/App/whatever/Tests`, because this has been the place suggested for (project-specific) tests in the past.

I think Symfony best practices nowadays suggest something else 🙏🏻. But that makes it hard to convince people to use this tool here if there is no simple way to make it pass on CI as well.

If we could excl

[2019-09-27 14:03] Ocramius commented on #58
@mpdude well, they'd need to be declared as "shadowed" in `composer.json` somehow.

We should most certainly not add more conventions/configs than what is already very clear from `composer.json`: moving files is trivial and takes minutes anyway.

[2019-10-04 09:24] Lctrs commented on #109
Fixed by #146.

[2019-10-04 14:04] #109 closed

[2019-10-04 14:05] Ocramius commented on #109
Thanks @Lctrs!

[2019-10-28 19:37] discordier commented on #140
Current work around is to pass the full path:
[code]

[2019-11-06 13:31] mirandaguillaume opened #156 "Can't run composer-require-checker on project"
Hi ! I'm trying to run composer-require-checker on a project and I get that error
`PHP Fatal error:  Uncaught Error: Maximum function nesting level of '256' reached, aborting! in phar:///usr/local/bin/composer-require-checker/src/ComposerRequireChecker/NodeVisitor/DefinedSymbolCollector.php:50
Stack trace:
#0 phar:///usr/local/bin/composer-require-checker/src/ComposerRequireChecker/NodeVisitor/Def

[2019-11-06 13:32] Ocramius commented on #156
That's a nesting limitation caused by xdebug: configure thr nesting level in your `.ini` config.

[2019-11-06 13:32] #156 closed

[2019-11-06 13:34] mirandaguillaume commented on #156
Oh thx !

[2019-11-06 13:43] mirandaguillaume commented on #156
How much should I set the nesting level to ?

[2019-11-06 13:47] Ocramius commented on #156
You can set it to `-1` to allow arbitrary nesting (as long as memory allows
it)

On Wed, Nov 6, 2019, 14:43 mirandaguillaume <notifications@github.com>
wrote:

[2019-11-06 13:48] mirandaguillaume commented on #156
Okay, that's what I did. It's still running 😄

[2019-11-06 14:01] mirandaguillaume commented on #156
Thanks, it worked like a charm !

[2019-11-06 14:38] mirandaguillaume commented on #156
I have unknown dependencies on ext-Core for exemple, what should I do ? Add it to composer.json ?
I have a config file with php-core-extensions and Core

[2019-11-06 14:55] mirandaguillaume commented on #156
It seems I'm scanning the vendor directory, is that normal ?

[2019-11-06 15:26] mirandaguillaume commented on #156
Figured it out by reading old closed issues.
Thx anyway !

[2019-11-07 08:14] Ocramius opened #158 "Reduce dependabot updates to once a month?"

[2019-11-07 14:04] #158 closed

[2019-11-15 14:13] guillaume-perreal opened #160 "Missing ext-zend-opcache in require-dev"
Version : master (cd115c5807cef1fee652077d2f01e191eac96580)

It seems that one of the test requires the Zend Opcache extension to be installed:

[code]

It is probably just a matter of adding "ext-zend-opcache" to the "require-dev" section:

[code]

[2019-11-15 14:25] #160 closed

[2019-11-27 21:02] MidnightDesign commented on #14
I just saw a talk where @Ocramius mentions a tool that does exactly that: https://github.com/icanhazstring/composer-unused

[2019-12-03 13:08] Majkl578 opened #171 "2.0.0 release contains dependencies not compatible with PHP 7.4"
Hi,
it seems the PHAR release uses libs incompatible with the recently released PHP 7.4.
I am getting a lot of errors coming from PhpParser:

[code]

[2019-12-03 13:11] Majkl578 opened #172 "LocateASTFromFiles trying to read directories as files on PHP 7.4"
Ón PHP 7.4 this new error appears:

[code]

[2019-12-03 13:17] Ocramius commented on #171
I think the phar has very old deps in general: we could cut `2.1.0` to trigger a new phar build, @maglnet

[2019-12-03 13:18] Majkl578 commented on #171
I'd expect that since it's from March. :)

[2019-12-03 14:11] SignpostMarv opened #173 "query re: compatibility with symfony/console:^5"
I've a general preference for using `composer require --dev` rather than using global installs/phar builds.

Are there any plans to nudge up compatibility with symfony/console, i.e. `symfony/console:^4.4|^5.0` ?

[2019-12-03 14:15] Ocramius commented on #173
@dependabot is running on this repo, and keeping things up-to-date once a month or so.

A release for 2.1.0 is probably required anyway (see #172 and #171).

Closing here meanwhile.

[2019-12-03 14:15] #173 closed

[2019-12-03 18:57] maglnet commented on #171
Ack, I'll create a new release/phar soon.

[2019-12-24 14:00] DanielBadura opened #175 "PhpParser\Lexer::getNextToken() returns null on PHP 7.4"
I updated my project to PHP 7.4 and later on i refactor the whole codebase to use typed properties. After that i got this error from the require-checker:
[code]

I think this comes from old dependencies in the phar. What do you think?

[2019-12-24 14:50] Ocramius commented on #175
Yes, the phar release is bound to have the outdated dependencies issue: a new release (minor) is due 💪

[2019-12-28 15:22] maglnet commented on #175
This should be fixed with the release 2.1.0

@DanielBadura Could you please verify?

[2019-12-28 15:24] maglnet commented on #171
This should be fixed with release 2.1.0

@Majkl578 could you please verify?

[2019-12-28 15:26] maglnet commented on #172
This should be fixed with release 2.1.0

@Majkl578 could you please verify?

[2019-12-28 16:37] DanielBadura commented on #175
Yeah it's working! 🎉
Thanks! ❤️

[2019-12-28 16:37] #175 closed

[2020-01-02 15:02] Majkl578 commented on #171
Looks ok with PHP 7.4.1, thanks.

[2020-01-02 15:02] #171 closed

[2020-01-02 15:03] Majkl578 commented on #172
Not fixed in 2.1.0 unfortunately, still seeing `PHP Notice:  file_get_contents(): read of 8192 bytes failed with errno=21 Is a directory in phar:///usr/local/bin/composer-require-checker/src/ComposerRequireChecker/ASTLocator/LocateASTFromFiles.php` errors. :(

[2020-01-24 15:27] VincentLanglet commented on #58
In my case, the `.phpstorm.meta.php` are checked by this library and returning multiple unknown symbol. I would prefer to remove these files from the check.

[2020-01-24 15:50] Ocramius commented on #58
That depends on your autoloader configuration

[2020-01-24 15:54] VincentLanglet commented on #58
I have
[code]

You mean I can easily exclude the phpstorm meta from the composer autoload and still having in the src folder ?

[2020-01-24 15:59] Ocramius commented on #58
That file doesn't need to be in src in first place

On Fri, Jan 24, 2020, 16:54 Vincent Langlet <notifications@github.com>
wrote:

[2020-01-24 16:04] VincentLanglet commented on #58
I agree, it doesn't need to. But I have multiple `.phpstorm.meta.php` configuring different functions, different classes, ... So it's more convenient to have the meta file next to the file it configures.
I never said I had no solution, I just prefer to have a way to exclude the file.

[2020-01-24 16:32] Ocramius commented on #58
Would suggest trying "exclude from classmap" or such - support probably to
be built for it

On Fri, Jan 24, 2020, 17:04 Vincent Langlet <notifications@github.com>
wrote:

[2020-01-24 17:12] VincentLanglet commented on #58
Thanks ! It works perfectly.

[2020-02-05 17:12] julienfalque opened #179 "Functions declared in the same file are reported as unknown"
It seems that ComposerRequireChecker isn't able to detect when called functions are declared in the same file. For example, with the following file:

[code]
ComposerRequireChecker will report the following error:
[code]
Is this the expected behavior?

[2020-02-14 10:12] vudaltsov commented on #179
+1
I use functions a lot and this issue is quite annoying.
Looking forward to a fix, thanx.

[2020-02-14 10:35] mpdude commented on #55
Regarding `bundles.php`, one way to work around this is to put it into `autoload.exclude-from-classmap` in the `composer.json` file. Does not matter for Symfony (the file is not autoloaded anyway), and makes `ComposerRequireChecker` ignore it.

[2020-02-14 10:43] Ocramius commented on #55
`bundles.php` should most likely contain only prod info: if you have an `if (APP_ENV === 'dev') {` switch in there, you can segregate it out to your `test/` dir

[2020-02-14 11:33] mpdude commented on #55
Unfortunately, the way suggested by Symfony is one big array with all bundle classes as keys and sub-arrays for each one choosing the environment where it should be used.

https://symfony.com/doc/current/bundles.html

[2020-02-14 11:36] Ocramius commented on #55
Yes, and you can split the development config into a separate file to be put somewhere outside your sources.

[2020-03-11 02:04] unional opened #180 "Cannot identify XSLTProcessor"
https://www.php.net/manual/en/class.xsltprocessor.php

I have code that uses this class.

I tried to add `libxml` and then `libxslt`, `xsl`, `xslt`, or`Xsl` to `php-core-extensions` section of the config but it does not work.

What should I do in the config to add that extension? 🌷

[2020-03-11 12:57] Ocramius commented on #180
I wonder if this is a bug in php-src? You should try by adding `ext-xsl` to your `"require"` section first.

[2020-03-12 04:40] unional commented on #180
Got it. Thanks. My case is a bit special. The code is actually not executing on my dev machine but on a separate device, which have a different php built. And I'm not really using `composer` to package and deploy the code. Thus I miss the `ext-xsl` in the `composer.json`.

Thanks for your help!

🌷

[2020-03-12 04:40] #180 closed

[2020-03-23 12:57] Photon89 commented on #172
I just ran into the same problem. Looks like foreach now also lists "." and ".." as files in a directory, so when looping over them the loop variable $file also gets the values "." and "..".

[2020-03-23 13:13] Ocramius commented on #172
@Photon89 do you have a code location to reference, or maybe a test case?

[2020-03-23 13:20] Photon89 commented on #172
@Ocramius Yep, this loop: https://github.com/maglnet/ComposerRequireChecker/blob/6022d233935615c4454a462c0607aa5b834fd93c/src/ComposerRequireChecker/ASTLocator/LocateASTFromFiles.php#L34

[2020-03-23 13:20] Majkl578 commented on #172
For reference, I am still seeing the same issue as well on our CI.

[2020-03-23 13:22] Photon89 commented on #172
A quick and dirty fix which I used in my app, just exclude "." and ".." by hand while looping: https://gitlab.com/Photon89/tpiq-experimental/-/commit/d6af93f5bf02c1b1fadbbffc842a92ce424c506d

[2020-03-23 13:24] Ocramius commented on #172
Would probably check which iterator is passed in instead, instead of fixing the symptom

[2020-03-23 13:26] Photon89 commented on #172
I'm a rookie in programming, would be grateful to some documentation reference for a better fix. :)

[2020-03-29 11:43] localheinz commented on #56
Any new on this one?

To be honest, it's a bit annoying - the recommended installation method is as PHAR, but specifying the configuration file does not work.

[2020-04-06 12:12] DanielSiepmann opened #182 "Does not respect PHP Files installed outside of vendor"
There are some frameworks that store installed packages somewhere outside the `vendor` folder. E.g. TYPO3 CMS stored their extensions (installed via composer) somewhere else.
Those are reported as missing with default setup:

[code]

I wonder why the auto generated files `vendor/composer/autoload_*.php` are not used to find all files. That should find the files as these are generated with the conc

[2020-04-06 12:47] DanielSiepmann commented on #182
[code]
[code]

Would work, but of course isn't a solution.

[2020-04-06 13:11] Ocramius commented on #182
This is expected behavior: `composer.json`, `composer.lock` and `installed.json` are the authoritative sources of truth for where files are located on the filesystem, and relying on generated code (including Composer's) is not feasible due to no BC guarantees on the format or syntax of those assets.

I would suggest putting effort in adding autoloading support for custom paths in https://github.co

[2020-04-06 13:35] SvenRtbg commented on #182
I'm still struggling to understand the issue here. I added the code that respects the `vendor-dir` setting, and would be rather surprised if Composer invented a way for the package to define where to be installed.

The tool is scanning every directory that is mentioned in the `composer.json` unter `autoload` for own code, and is using the vendor directory (which may be changed, see above) together

[2020-04-06 13:59] DanielSiepmann commented on #182
@SvenRtbg composer allows composer installers which handle the installation and could move things around. The above links to the packages provide an handy overview of supported frameworks that use this feature.
Therefore vendor files might be somewhere else then in configured vendor folder. Most probably due to older conventions from times before composer.

TYPO3 has the concept of extensions, jus

[2020-04-06 14:14] helhum commented on #182
Composer is extensible via [Plugin API](https://getcomposer.org/doc/articles/plugins.md) A plugin can, besides a bunch of other things, [register an installer](https://github.com/TYPO3/CmsComposerInstallers/blob/9529c56b7bd58ff771d888455eee2d2d38b9d328/src/Installer/Plugin.php#L63-L72) for certain package types.

In fact, Jordi is maintaining [composer/installers](https://packagist.org/packages/co

[2020-04-06 14:33] Ocramius commented on #182
There must also be a way to have a deterministic API (or declaration) of where that installation is, and what its structure is like.

BTW, highly endorse getting rid of this custom stuff in Typo3: it is needless complexity that only weighs on tooling (any tooling) upstream, and shouldn't be implemented unless it goes well over the 80/20 use-case split.

[2020-04-06 14:50] DanielSiepmann commented on #182
As mentioned before, this is not specific to TYPO3. There are some more systems making use of different installation paths, beside some libraries as well, like linters.

There is an API, like the `composer info <packagename>` which provides the actual path.
But the internal composer code looks quite complex to retrieve these information and I didn't invest more time finding out how it is determine

[2020-04-06 14:52] Ocramius commented on #182
I'm aware that drupal also does this sort of stuff. The endorsement remains the same: don't do it.

[2020-04-06 15:28] SvenRtbg commented on #182
I'm with @Ocramius here: This world would be a better place without custom installation paths.

I've been reading the code of some of the projects linked above, and I come to the conclusion that this all is a mess. No necessarily for users of said installers, but from the perspective of a tool like this one here.

The only solution to allow self service here looks like extending that "scan-files"

[2020-04-07 10:03] helhum commented on #182
I fully support these statements. I also understand being reluctant to change things that would need change in a better world.

I cannot tell for other projects than TYPO3, but we definitely working hard since quite some time to make the custom install paths obsolete. But we're not there yet. Nontheless tools like this one here would be of great help to support us in achieving this goal.

So the p

[2020-04-07 11:47] SvenRtbg commented on #182
Thanks for the feedback. The easiest result to be implemented is to add my suggestion to the documentation, which I'll do right away.

[2020-04-07 13:30] #182 closed

[2020-04-07 13:31] DanielSiepmann commented on #182
Thanks for the discussion and working workaround for CI environments :+1:

[2020-04-07 13:40] SvenRtbg commented on #182
Seems like I missed to click a button, but here we are now with the readme edit.

[2020-04-16 12:23] freezy-sk opened #184 "symfony-pack dependencies"
Hi
Currently installed `symfony-pack` packages (symfony flex metapackages) are shown as soft dependencies (that's right). But wouldn't it be better to resolve them as hard dependency?
Or every `symfony-pack` packages should be unpacked to properly show them as real dependency?
These symfony-pack packages like `orm` or `twig-pack` are really convenient for users because they require everything what

[2020-04-16 12:25] Ocramius commented on #184
packs are not really dependencies, but rather "installation utilities", and can change at any time: you should really specify dependencies that your sources depend upon.

I also endorse not using packs, contrary to symfony documentation 😛

[2020-04-16 12:25] #184 closed

[2020-04-16 12:34] freezy-sk commented on #184
@Ocramius I'm unpacking all packs in my projects, but as you pointed, sometimes they change. Do you have some advice how to handle these situations? In bigger teams it's hard to require from project owners to unpack or to unpack and check changes of that packs all the time.

[2020-04-16 12:39] Ocramius commented on #184
well, packs are really only needed at first installation. If this tool is part of the CI pipeline, you already have something forcing unpacking 🤔

[2020-04-16 12:50] freezy-sk commented on #184
Thanks, good point about that first installation. This tool is not part of our current CI pipeline, but I'm preparing steps to require it in every project CI. And you know how developers likes changes 😄

[2020-04-16 15:08] SvenRtbg commented on #184
I'd add that even Fabien recommends unpacking the packs: http://fabien.potencier.org/symfony4-unpack-the-packs.html

And after that you have the correct dependencies for the scan.

[2020-04-23 14:29] HVSoftware opened #185 "Adding support of SF 4.4"
maglnet/composer-require-checker has a hard dependency on symfony/console:^5.0. For this reason one of our project in which we want to support ^4.4 and ^5.0 doesn't work.

Is it possible to include SF 4.4 support?

`"symfony/console": "^4.4 || ^5.0",`

This way we can still use the package in our current projects and slowly move to SF 5.0.

[2020-04-23 16:02] Ocramius commented on #185
The library dos not necessarily need to be installed in `vendor` as `require-dev`: you can run

[code]

[2020-04-23 16:02] #185 closed

[2020-04-23 16:03] Ocramius commented on #185
Also: can use the phar installation if not needed :+1:

[2020-04-24 06:21] HVSoftware commented on #185
We used the solution and this is working. Thank you

[2020-05-25 20:52] buffcode commented on #47
Definetely not an edge case. We have a mono-repo and every library / subproject has it's source folders directly within the root / same level as `composer.json`. No problem with any other tool as they either ignore 3rd party folders like `node_modules` / `vendor` or provide appropriate options.

See also:
- [Symfony HTTP Kernel](https://github.com/symfony/http-kernel)
- [Laravel Illuminate databas

[2020-05-25 21:11] Ocramius commented on #47
@buffcode this tool only scans sources mapped in your `autoload` and/or `autoload-dev`

[2020-05-26 14:09] Jean85 opened #188 "False positive in case of replaced package"
I'm getting a false positive with a replaced package. The reproducer is:
`composer.json`
[code]
PHP Code:
[code]
Code should output `foo/bar`; `PackageVersions\Versions` is from `ocramius/package-versions`, but `jean85/pretty-package-versions` 1.3.0 [uses a replaciing fork](https://packagist.org/packages/jean85/pretty-package-versions#1.3.0), [`composer/package-versions-deprecated` ^1.8.0](https:/

[2020-05-26 14:14] Ocramius commented on #188
what's the actual output?

[2020-05-26 14:44] Jean85 commented on #188
The output is still correct, the only defect here is the false positive with this package (the ComposerRequireChecker).

[2020-05-26 14:47] Ocramius commented on #188
@Jean85 I mean that your OP does not include "expected" vs "actual".

[2020-05-26 15:28] Jean85 commented on #188
@Ocramius wops, you pointed me to the real issue! Sorry for misunderstanding.

The output is:
[code]

I have `"maglnet/composer-require-checker": "^2.0"` in my `composer.json` so something's up with my CI. I've re-run locally and it works.

Sorry.

[2020-05-26 15:28] #188 closed

[2020-05-26 22:14] #108 closed

[2020-06-25 13:28] vudaltsov commented on #179
@maglnet , @Ocramius , any plans to fix this?

[2020-06-25 13:33] Ocramius commented on #179
@vudaltsov patches welcome: this should be easy to test, but unsure about the fix.

I don't currently have capacity to work on this project within the next few months.

[2020-07-21 16:35] filips123 commented on #114
This could be done with additional command argument or config file option which would cause files where unknown symbol is found to appear on output:

[code]

[2020-07-31 09:32] rieschl opened #196 "Syntax error, unexpected T_MATCH"
We encounter some strange behavior lately. On some projects/libraries, the checker returns the following error:

[code]

It seems to be somehow related to PHPunit when it is installed as non-dev dependency.
Psalm also had a similar problem but fixed it already: https://github.com/vimeo/psalm/issues/3901

The error disappears when I remove the `extends Match` from `\PHPUnit\Framework\MockObject\Bui

[2020-07-31 09:34] Ocramius commented on #196
Possibly new PHP-Parser running with PHP 8.x compat? `match` became a keword since `php:8-alpha`

[2020-07-31 09:39] rieschl commented on #196
Hmm, sorry I forgot to mention the versions. PHP `7.4.7`, `phpunit/phpunit: 9.2.6`, `maglnet/composer-require-checker: 2.1.0`.

When checking the version, I discovered, that this bug seems to be gone in PHP `7.4.8`.
Let me check that and I'll come back with the results.

[2020-07-31 11:23] rieschl commented on #196
ok... it's not related to the PHP version, but version of `nikic/php-parser`. There is no error with version `4.6.*`,  only with the current `4.7.*`.
If I interpret this correctly, that's not a problem with this library but with `php-parser` being too strict and/or phpunit which uses a keyword which will be reserved in PHP8, right?
`psalm` "resolved" this problem by [restricting php-parser version

[2020-07-31 11:25] Ocramius commented on #196
I don't think the version should be restricted there: rather, the parser being used should be configured.

I think it's configured correctly here: https://github.com/maglnet/ComposerRequireChecker/blob/c0c2e27011ce0e227d0b702ac1aa1b3d3c2d5972/src/ComposerRequireChecker/Cli/CheckCommand.php#L158

Probably need to report an issue upstream.

[2020-07-31 11:27] rieschl commented on #196
There is, already: https://github.com/nikic/PHP-Parser/issues/690

[2020-08-24 08:11] localheinz commented on #56
Here's a good workaround:

[code]

[2020-09-01 15:29] andrewmy commented on #196
As commented by @nikic in that issue,

So still needs a fix here.

[2020-09-01 15:32] nikic commented on #196
You might also just want to not use emulation at all for this use case (i.e. parse for the PHP version you're running on).

[2020-09-01 15:37] andrewmy commented on #196
@nikic do you mean passing `new Lexer()` to the `ParserFactory`?

[2020-09-14 06:43] rieschl commented on #196
Follow-up: It works for me now with `2.1.0`. It seems that php-parser uses the running PHP version to parse the code.

[2020-09-14 08:48] Baptouuuu commented on #196
Hi,

I still have the problem with `nikic/php-parser` `4.9.1` and `maglnet/composer-require-checker` `2.1.0`. @rieschl did you change anything else to make it work ?

[2020-09-14 10:05] rieschl commented on #196
no, I did not change anything. which php version do you use?

[2020-09-14 11:14] Baptouuuu commented on #196
7.4

[2020-09-14 11:59] rieschl commented on #196
You're right. My error didn't disappear because of a new php-parser version but because PHPUnit removed the offending class: https://github.com/sebastianbergmann/phpunit/commit/b57cd45d8d8626d5b9b38547b85094a8a7160712
`match` is a reserved keyword in PHP8 (it's a function/control structure there [[src]](https://wiki.php.net/rfc/match_expression_v2)) so they have to get rid of it anyway. If I check

[2020-09-15 07:32] DanielSiepmann opened #200 "Respect composer require-dev?"
Hey,

I'm curious why composer `require-dev` is not respected within https://github.com/maglnet/ComposerRequireChecker/blob/2.1.0/src/ComposerRequireChecker/FileLocator/LocateComposerPackageDirectDependenciesSourceFiles.php#L13.

Our use case:
We develop a package that suggest installing further dependencies via composer `suggest` configuration. Inside of our code we use parts of this dependency.

[2020-09-15 09:28] DanielSiepmann commented on #200
Maybe it would make sense to respect requirements that are listed in `suggest` and `require-dev`.

[2020-09-15 10:17] SvenRtbg commented on #200
The historic mission of this project was to identify missing production dependencies. If you once required any earlier Zend Framework 2 component standalone, and then tried to use it, you were hit with plenty of "class not found" errors due to the component not declaring it's dependencies correctly. This has since been fixed, and today all (renamed) Laminas components are usable out of the box.

I

[2020-09-15 11:27] Ocramius commented on #200
`require-dev` and `suggest` mean absolutely nothing for downstream consumers of your libraries, so they won't be considered by this tool either.

If you want to support additional third-party dependencies, I suggest to instead:

 1. Create an adapter that is specific to the third-party component
 2. Put it in an independent codebase (whether that requires a new git repository or a subtree split is

[2020-09-15 11:27] #200 closed

[2020-09-15 12:25] DanielSiepmann commented on #200
Thanks to both of you for clarification. Makes absolute sense to me.

[2020-09-18 17:35] iggyvolz opened #202 "Required parameter follows optional parameter"
Running composer-require-checker in PHP 8 (related: #201) throws the following deprecation warning:
[code]

https://github.com/maglnet/ComposerRequireChecker/blob/196131edee2bcc948fdbe6be578120a411016bfa/src/ComposerRequireChecker/FileLocator/LocateFilesByGlobPattern.php#L17

Likely don't want to specify [] as the default for `$globPatterns` as that cannot be used directly.

[2020-09-18 17:38] Ocramius commented on #202
Fairly sure that the default value can be dropped - can you try sending a patch?

[2020-09-18 19:52] #202 closed

[2020-09-18 19:52] Ocramius commented on #202
Thanks @iggyvolz!

[2020-10-01 21:55] #196 closed

[2020-10-19 09:52] landwire opened #211 "There were no symbols found Error"
Just installed this and tried it, but I get the following Error:

[code]

I have also tried it with a config file. Same result.
Any ideas?

[2020-10-19 09:56] Ocramius commented on #211
@landwire do you have a `composer.json` with an `"autoload"` section?

[2020-10-19 12:59] landwire commented on #211
No, I don't have an autoload section. How do I know what to put in there?

[2020-10-19 13:04] Ocramius commented on #211
How are classes loaded in your project?

As for "what to put in there", see https://getcomposer.org/doc/01-basic-usage.md#autoloading

[2020-11-10 12:12] a-menshchikov opened #217 "Unknown symbol Composer\InstalledVersions"
When using `Composer\InstalledVersions` in my code, composer-require-checker show me the message about unknown symbol with this class.
I tried add `"composer-runtime-api": "^2.0"` in composer.json, but that didn't help.

[2020-11-10 12:16] Ocramius commented on #217
I think it needs to be whitelisted, since `composer-runtime-api` does not really follow any `vendor/*` autoloading convention.

Can you send a patch?

[2020-11-12 16:05] #172 closed

[2020-11-16 17:20] szepeviktor opened #221 "Option for PHP built-in symbols"
Could you add an option to whilelist [built-in symbols](https://github.com/maglnet/ComposerRequireChecker/blob/master/data/config.dist.json#L3-L5)?
Now users have to keep that list in `symbol-whitelist`.

[2020-11-16 17:36] Ocramius commented on #221
That's only if you use your own `config-file` though: seems acceptable as a trade-off?

[2020-11-16 17:40] szepeviktor commented on #221
Thank you.

Are there users not using a custom configuration file?? 😲

[2020-11-16 17:45] Ocramius commented on #221
@szepeviktor the tool works OOTB if your project is in good shape :-)

[2020-11-16 17:48] szepeviktor commented on #221
I should then get a box.

# 🗳️

Thank you!

[2020-11-16 17:48] #221 closed

[2020-11-27 13:15] #217 closed

[2020-11-27 15:00] sanmai opened #225 "Support error reporting in GitHub Actions"
Please add support for error reporting in GitHub Actions.

For example, like [PHPStan](https://github.com/shivammathur/setup-php#phpstan) or [Psalm](https://github.com/shivammathur/setup-php#psalm), or [Infection](https://github.com/infection/infection/pull/1368) do.

[2020-11-27 15:56] Ocramius commented on #225
From the twitters, for whomever wants to pick up the task: https://github.com/symfony/symfony/blob/f0aa4e7df17d40eadf540c6c3d0f9e6feac67648/src/Symfony/Component/Console/CI/GithubActionReporter.php#L21

[2021-01-13 15:38] OskarStark opened #234 "PHP Warning: Undefined array key 314 in phar:///home/runner/work/cockpit/cockpit/tools/composer-require-checker/vendor/nikic/php-parser/lib/PhpParser/Lexer.php on line 293"
I have an error using `ComposerRequireChecker 2.1.0@0c66698d487fcb5c66cf07108e2180c818fb2e72`, when running it with PHP 8. Not sure this is already fixed but it is not released.

Anything else I can provide to support you?

[code]

composer.json
[code]

cc @localheinz

[2021-01-13 16:06] Ocramius commented on #234
PHP 8 support is not yet here: please run on PHP 7 for now.

[2021-01-13 16:06] #234 closed

[2021-01-13 16:07] localheinz commented on #234
Also see #201.

[2021-01-13 20:08] OskarStark commented on #234
Didn't know, thanks

[2021-01-18 08:04] Ocramius opened #235 "Add release automation tooling"
This is about installing https://github.com/laminas/automatic-releases

In practice, we need following repository secrets to be configured by @maglnet:

 * `GIT_AUTHOR_EMAIL`
 * `GIT_AUTHOR_NAME`
 * `ORGANIZATION_ADMIN_TOKEN` (a personal token should suffice, but it needs admin rights on the repo)
 * `SIGNING_SECRET_KEY` a private passwordless GPG **subkey** to be used for signing releases

[2021-01-18 20:33] maglnet commented on #235
@Ocramius
I just added the mentioned secrets and added the release workflow within #236 but I'm not familiar with this, so maybe you could give some input what needs to be done next or simply merge the MR and finish milestone 3.1.0 to create a release?

[2021-01-18 20:41] Ocramius commented on #235
@maglnet let's schedule a call and I'll show you :+1:

[2021-01-18 21:38] #235 closed

[2021-01-20 19:43] Ocramius opened #237 "Either drop `CHANGELOG.md` or update it to match `phly/keep-a-changelog` syntax"

[2021-01-20 19:44] Ocramius opened #238 "Automate creation of signed PHAR file on release (github action)"

[2021-01-20 21:20] localheinz commented on #238
Perhaps you can find some inspiration here:

https://github.com/ergebnis/composer-normalize/blob/2.13.2/.github/workflows/release.yaml

[2021-01-21 06:13] #237 closed, assigned to maglnet

[2021-02-23 07:13] OskarStark commented on #238
I just ran:
[code]

and got the following output:
![CleanShot 2021-02-23 at 08 12 08](https://user-images.githubusercontent.com/995707/108812127-dac47700-75ae-11eb-9abc-45fa4487959e.png)

The PHAR is missing:
https://github.com/maglnet/ComposerRequireChecker/releases/tag/3.1.0

cc @maglnet

[2021-02-25 14:44] maglnet commented on #238
@OskarStark Sorry, I forgot to upload the new files since there were no code changes. I just uploaded the phar and signature files, so please check again.

[2021-02-26 15:26] vudaltsov opened #245 "Checker should not complain about missing ext-json when PHP 8 is used"
See https://php.watch/versions/8.0/ext-json

[2021-03-06 18:32] bobvandevijver commented on #51
@soullivaneuh  Would https://github.com/composer-unused/composer-unused help for your case?

[2021-03-11 11:22] OskarStark opened #250 "Tool complains about "mixed""
ComposerRequireChecker 3.1.0@b3cd6d30e2335997c5eabb19e3f01d699bc06caa

[code]
Error: Process completed with exit code 1.

[2021-03-11 11:57] #250 closed, assigned to Ocramius

[2021-03-18 09:59] Ocramius opened #256 "Remove support for PHAR releases"
PHAR releases are generally problematic, because:

 1. we don't automate them
 2. the dependencies within the phar are frozen to a set that could easily be updated, and so issues could be reported here instead of where they should be reported (upstream)
 3. traces are completely different/complex

Overall, my suggestion is therefore to:

 1. get rid of the `.phar` release
 2. clearly endorse an ap

[2021-03-18 10:03] asgrim commented on #256
FWIW, if "incompatible dependencies" is an issue that causes you to need to use Phar, you can usually workaround with something like the following GH action:

[code]

[2021-03-18 10:06] Ocramius commented on #256
Also:

[code]

Good enough

[2021-03-30 07:06] OskarStark commented on #256
Until we have a decision here, @maglnet can you please provide the PHAR file for `3.2.0` release? Thanks 🙏

[2021-03-30 16:41] jnkowa-gfk commented on #55
i might have found a false-positive for [`libXMLError`](https://www.php.net/manual/en/class.libxmlerror.php).
test setup: https://github.com/jnkowa-gfk/test-composer-require-checker/tree/test/libXMLError

[2021-03-30 19:59] maglnet commented on #256
@OskarStark Sorry, it's now attached to the release.

[2021-03-31 05:39] OskarStark commented on #256
No problem

Thanks you very much 💥

[2021-05-04 12:34] SvenRtbg commented on #51
I'd recommend that tool, too, even though it is only just starting and has some issues, errors and unresolved edge cases.

I have them both running in an automated job, so using one or two tools is no big deal. And I can imagine that these two tools have way different approaches due to their different nature. Keeping them separate will probably reduce overall complexity. ;)

[2021-05-12 10:00] massimilianobraglia opened #267 "Release 3.3.0"
Hello there,

thank you for this great library! Just a quick question: any plans on releasing 3.3.0?

I saw that this update https://github.com/maglnet/ComposerRequireChecker/pull/241 has been merged but still not released. I'm sorry for bothering with this one, but that update permits the usage of glob library on systems without `GLOB_BRACE` constant.

Obviously, this is not a complaint. Just a q

[2021-05-12 10:32] Ocramius commented on #267
If you run a `composer require malgnet/composer-require-checker`, you already get the latest dependencies

[2021-05-12 10:32] Ocramius commented on #267
Related: https://github.com/maglnet/ComposerRequireChecker/issues/256

[2021-05-12 10:32] #267 closed, assigned to Ocramius

[2021-05-12 13:25] massimilianobraglia commented on #267
Fair enough, thank you, @Ocramius!

[2021-06-09 08:39] bobvandevijver opened #272 "Catch parser error and rethrow with file information"
Whenever a PHP parse error occurs, only the parse error is shown, without information about the conflicting file.

[code]

If I'm correct, it should be pretty trivial to catch this exception in the `ASTLocator`, and rethrow it with a own message that does include the actual file path.

https://github.com/maglnet/ComposerRequireChecker/blob/79c852fda6cffe089cb49e435570a8bbd43091b3/src/ComposerRequi

[2021-06-09 09:27] Ocramius commented on #272
@bobvandevijver please do send a patch with a test addition ( https://github.com/maglnet/ComposerRequireChecker/blob/79c852fda6cffe089cb49e435570a8bbd43091b3/test/ComposerRequireCheckerTest/ASTLocator/LocateASTFromFilesTest.php )

[2021-06-09 11:43] #272 closed, assigned to bobvandevijver

[2021-06-22 07:11] jakzal commented on #256
Just noticed 3.3.0 phar is also missing as well as the gpg key:

[code]

[2021-06-22 08:01] DanielBadura commented on #256
Only @maglnet can create atm a new signed `phar` as far as i know. So maybe he can attach it again like for the `3.2.0` release.

[2021-07-01 07:48] steevanbarboyon opened #279 "Recursively find files"
Hi,

With `scan-files` I can't recursively find files: `foo/*.php` will only search in `foo` directory, not in subdirectories.

Ho can I do it?

Thanks

[2021-07-01 07:49] steevanbarboyon opened #280 "Configure "Guessed Dependency""
Hi,

How can i help you to configure some `Guessed Dependency` (like `symfony/process` for  `Symfony\Component\Process\Process` unknown symbol)?

Thanks

[2021-07-01 08:08] DanielBadura commented on #280
We should not maintain a list of packages, this is a never ending task. Instead this should be automated and can be automated. For guessing Packages there is already an open PR: https://github.com/maglnet/ComposerRequireChecker/pull/162

But the Problem there is that BetterReflection is not PHP8 ready and this library already supports PHP8. So there is a task first to be done in BetterReflection w

[2021-07-01 08:13] DanielBadura commented on #279
`scan-files` follow the glob pattern. So as far as i know it should be possible but never tried it myself or have seen it in the tests here. See here the glob pattern syntax: https://github.com/webmozarts/glob

`/foo/**/*.php` should maybe do the trick.

[2021-07-07 11:16] ThomasLandauer commented on #256
@maglnet Please create a PHAR for 3.3.0.
At https://github.com/maglnet/ComposerRequireChecker/#phar-file-preferred phar is still the recommended way of installing - so if you're not releasing it regularly anymore (see same comment for 3.2.0 above), this should be deleted from README.

[2021-07-08 12:00] maglnet commented on #256
@ThomasLandauer the phar file is attached now. You're right, the preferred way should either be changed or the phar should be created automatically.

[2021-07-08 13:04] ThomasLandauer commented on #256
When doing `phive update`, the new phar is downloaded, but then it fails with:

I don't know who's in charge of this URL, though ;-)

[2021-07-08 15:19] maglnet commented on #256
Well there's a list of public key servers provided with phive, if the server is gone, maybe it needs to be removed from the list?
https://github.com/phar-io/phive/blob/master/conf/pgp-keyservers.php

[2021-07-12 09:18] Slamdunk opened #281 "PHAR 3.3.0 has \r char that breaks tool under Linux"
See https://github.com/shivammathur/setup-php/issues/473#issuecomment-878098357

[code]

[2021-07-12 09:19] Slamdunk commented on #281
Likely related to https://github.com/maglnet/ComposerRequireChecker/blob/a4a03806b5fd4c11f04fcb48c2accde877dc9bd1/build.xml#L60

[2021-07-12 09:25] Slamdunk commented on #256
The current `3.3.0` PHAR is broken for Linux: https://github.com/maglnet/ComposerRequireChecker/issues/281

[2021-07-13 09:33] antonmarin commented on #47
@Adirelle is issue related to #110

[2021-07-13 09:35] antonmarin opened #283 "Error parsing \Doctrine\ODM\MongoDB\Aggregation\Stage\GraphLookup\Match with php8"
wrong usage or bug?

is there any way to ignore this file as it is not used in project?

[code]
[code]
[code]
[code]

[2021-07-13 09:53] Ocramius commented on #283
I suggest installing `maglnet/composer-require-checker` via `composer` in an isolated directory: this problem is caused by an outdated `nikic/php-parser` version in use inside the `.phar` release.

Also see:
 * #140
 * #256
 * #281

Meanwhile, closing this, as the issue is with the dependencies of this tool, not the tool itself.

[2021-07-13 09:55] Ocramius commented on #256
Adding more gasoline to the fire:

 * #283 reported a bug that is due to an outdated dependency in the `.phar`
 * #281 reports broken `.phar`
 * #140 reports a bug that only occurs in a `.phar` release

I think the waste of time is becoming quite evident.

[2021-07-13 09:59] antonmarin commented on #283
I can't use composer global installation in my CI pipeline, so can you publish docker image? I can create pr with Dockerfile

[2021-07-13 10:02] Ocramius commented on #283
You can do following:

[code]

My endorsed approach would be to have a `composer.json` **and** a `composer.lock` under `tools/composer-require-checker`

[2021-07-13 10:03] Ocramius commented on #283
Also avoid `composer global`: it's just trouble.

[2021-07-13 10:06] antonmarin commented on #283
I see now. Looks strange )) This way creates some difficulties with building. Mb docker image would be more simple to use?

[2021-07-13 10:08] Ocramius commented on #283
It would have the same problems of a `.phar` release, with the addition of multiple system-level CVEs on top of it.

[2021-07-13 10:17] antonmarin commented on #283
I mean, i can create PR with Dockerfile with tool installed the way you offered. Then maintainer can publish it in dockerhub. I think it would be simple to use and support.
Users would use smth like `docker run -v $PWD:/app $repo` and maintainers don't do anything, as dockerhub would update image automatically on tag or master(on your choice)

[2021-07-13 10:18] antonmarin commented on #283
Update: I tried the way you offered in #issuecomment-878953040 and got the same error

[2021-07-13 10:21] Ocramius commented on #283
Problem with that is keeping an updated `composer.lock` that works for everyone. People running on PHP 7.4 and people running on PHP 8.0 have different requirements (like this bug shows). The combinatory explosion is too much to handle, and it is better to just let people install the set of dependencies that works best for them.

Re-opening as per https://github.com/maglnet/ComposerRequireChecker/

[2021-07-13 10:22] Ocramius commented on #283
I think what needs to happen in your case, is that `nikic/php-parser` needs to be initialized in PHP 7.4 mode.

If you load `vendor/doctrine/mongodb-odm/lib/Doctrine/ODM/MongoDB/Aggregation/Stage/GraphLookup/Match.php` (try `php vendor/doctrine/mongodb-odm/lib/Doctrine/ODM/MongoDB/Aggregation/Stage/GraphLookup/Match.php` ), you will probably already get a crash if you are on PHP 8.

[2021-07-13 10:23] antonmarin commented on #283
[code]
[code]

[2021-07-13 10:28] Ocramius commented on #283
No, I mean that trying the `Match.php` file from PHP itself will fail on PHP 8.

This is likely due to this deprecation: https://github.com/doctrine/mongodb-odm/blob/85d2b9f9664517ca0ece48547be3e68f7a2a2e8f/lib/Doctrine/ODM/MongoDB/Aggregation/Stage/Match.php#L12

[2021-07-13 10:34] antonmarin commented on #283
Seems like require-checker is used as a part of project, as phpstan do, so mb it should be used as `composer require --dev`?

Yep, php fails run it, and it's expected. Unexpected is that Match is not used anywhere including vendor files, so i don't understand why tool tries to load it. Is any way to exclude it? (i've already tried exclude-from-classmap and it didn't help as this class is not in cl

[2021-07-13 10:47] Ocramius commented on #283
This tool tries to scan for all defined symbols eagerly, so that we have a map of which component declares which symbol. Since PHP autoloading does not work with functions, this means that every file declared in `autoload:` definitions in every dependency is scanned.

As far as I know, we haven't built any exclusion map yet: that would be an interesting addition.

[2021-07-13 10:51] antonmarin commented on #283
I see now. So seems like there are 2 ways to fix my error:
1. Identify why --ignore-parse-errors didn't work in this case
2. Implement a way to exclude some files from scan

Am i right?

[2021-07-13 10:53] Ocramius commented on #283
This certainly requires investigation, since this is 100% a parse error

Feasible too, but only after having investigated the first bit.

Sorry for the detour around dependency management!

[2021-07-14 08:51] loevgaard commented on #281
Obviously I don't know what people use for setting up their CI, but I use GitHub Actions and https://github.com/shivammathur/setup-php for setting up PHP. I have fixed this temporarily with this setup-php config:

[code]

Notice the `composer-require-checker:3.1.0` in the `tools` key.

[2021-07-14 08:53] Ocramius commented on #281
As per #256, my recommendation on how to install the tool:

[code]

Committing a `composer.lock` inside `tools/composer-require-checker` is endorsed :)

[2021-07-14 09:02] loevgaard commented on #281
I see your point, @Ocramius. Thanks :)

[2021-07-14 10:23] Slamdunk commented on #281
As of today, even `setup-php` uses the composer installation method:

* https://github.com/shivammathur/setup-php/commit/1a216636c5e1ad3b005610da21ab917986eebed3
* https://github.com/shivammathur/setup-php/releases/tag/2.12.0
* https://github.com/shivammathur/setup-php/issues/473#issuecomment-879775051

[2021-07-15 09:58] Adirelle commented on #47
It is: same cause with different outcomes.

I am also wondering what would happen with a test directory (with proper autoload-dev) under the src directory (autoload)...

[2021-07-15 12:50] loevgaard commented on #281
Guess we all love [Shivam](https://github.com/shivammathur) ❤️

[2021-07-29 22:11] eclipxe13 opened #286 "Publish public key on keys.openpgp.org"
Could you please consider to add the public key used to sign the released phar file on https://keys.openpgp.org ?

It could be that the key was published on `sks-keyservers.net` but it is not available anymore since 2021-06-21

It is not possible to install `ComposerRequireChecker` using `phive`. See phar-io/phive#317

Thanks a lot for your great work on this project!

[2021-07-30 03:44] Ocramius commented on #286
You can take the key from https://github.com/maglnet.gpg and publish it to your keyring of preference: doesn't require the author of the key.

[2021-07-30 03:45] #286 closed, assigned to Ocramius

[2021-07-31 04:45] eclipxe13 commented on #286
Uhm, I might be wrong, but the key on https://github.com/maglnet.gpg is related with the key used to create https://github.com/maglnet/ComposerRequireChecker/releases/download/3.3.0/composer-require-checker.phar.asc ?

- composer-require-checker.phar.asc is using `343FAC404EB57FFEF19C0255032228317452FB59`
[code]

- maglnet.gpg contains: `B0906BA775992B910F4E83CBD2CCAC42F6295E7D`
[code]

[2021-07-31 12:09] maglnet commented on #286
Hi,
I'll check this later. Maybe I used the wrong key for signing this phar file.

[2021-08-01 06:18] maglnet commented on #286
@eclipxe13  I think I messed up something and hope its fine now. I added a new signature. Could you please verify it's ok now?

[2021-08-01 07:32] eclipxe13 commented on #286
It works! thank you @maglnet !

[code]

For the record if anyone get here because cannot install ComposerRequireChecker using `phive` global install:

[code]

I see the @Ocramius answer about not publishing the public key on openpgp.org, and also read on the issues about removing phar distribution method. But please, consider to publish the key on https://keys.openpgp.org, at least while phar and

[2021-08-01 19:10] theseer commented on #286
While that may have been the case in the past, modern and more secure gpg key servers like `keys.openpgp.org` require a confirmation for every UID included. When uploaded, the server will send an email with a verification code to each, not listing it until confirmed.

[2021-08-01 19:14] theseer commented on #286
Reading it again, the wording might have been confusing:

A Keyring is usually a local thing, nothing you would "publish" something to but rather import ;)
I assume you meant key server rather than keyring in my comment above.

[2021-08-01 19:28] theseer commented on #256
While I admit I'm not using this tool myself, I fully disagree with the idea of this issue and just want to contribute my PoV. Maybe it's helpful - maybe not, then feel free to ignore it.

Your points against phar are:

This is hardly a problem of using phars as a concept but rather a lack of automation. If there's any interest, I can offer help to automate building phars.

To me, this is complete

[2021-08-01 19:40] maglnet commented on #286
The key has been published to `keys.openpgp.org` now, too.

[2021-08-03 05:35] jnkowa-gfk commented on #14
since https://github.com/icanhazstring/composer-unused
is doing the exact thing requested with this issue,
i suggest to close this issue.

[2021-08-03 06:11] jnkowa-gfk opened #293 "use package's `install-path` instead of guessing"
current implementation tries to "guess" the path a required package was installed to.
see https://github.com/maglnet/ComposerRequireChecker/blob/b3cd6d30e2335997c5eabb19e3f01d699bc06caa/src/ComposerRequireChecker/FileLocator/LocateComposerPackageDirectDependenciesSourceFiles.php#L33

this might be correct for the most time, but in general this "guessing" seams like a lucky shot.
**ISSUE:** In some

[2021-08-03 06:16] jnkowa-gfk commented on #293
i read the discussion in #182
especially https://github.com/maglnet/ComposerRequireChecker/issues/182#issuecomment-609784920

i still suggest to try reading those generated files, and prefer the results over a guess. in case of errors, the guess could be used anyways.

[2021-08-03 08:19] SvenRtbg commented on #293
Also re-reading the previous issue, I think even if there would be an easy way to identify the paths, it still may present a problem to distinguish the two codebases "own code" and "dependency code" if dependencies are allowed to just deploy themself into paths that are originally used by the "own code" part. Unless such a path is completely wiped before anything gets installed there, but I doubt

[2021-08-03 09:23] MidnightDesign commented on #14
I still think this would be a welcome feature to a "generic" "Require-Checker".

[2021-08-03 10:09] jnkowa-gfk commented on #293
i see what you mean, @SvenRtbg .

Thats that is correct for _ComposerRequireChecker_

Unfortunately a setup with `--no-plugins` will break all toolings that already require the setup with plugins.
like integration tests that require a complete setup.

----

some background information to the setup of typo3 packages/extensions (in my case):
the setup will be done with a `composer.json` like this
[c

[2021-08-03 10:11] Ocramius commented on #293
Ref: https://github.com/maglnet/ComposerRequireChecker/issues/182#issuecomment-609843190

[2021-08-03 10:11] #293 closed, assigned to Ocramius

[2021-08-03 10:12] Ocramius commented on #293
I suggest bringing this up with the upstream project that is using such exotic setup.

[2021-08-03 10:21] jnkowa-gfk commented on #293
well, it is part ob the composer's behavior to put packages in other paths than `$vendor/$packagename`.
its nothing exotic.

it actually is a feature of composer, to implement a custom installer that implements
`Composer\Installer\InstallerInterface::getInstallPath()`
see https://github.com/composer/composer/blob/338017879877f293b9c78603aa7471b12d92860b/src/Composer/Installer/InstallerInterface.ph

[2021-08-03 10:22] Ocramius commented on #293
Aware: the general/safe assumption is to look at `vendor/$vendorName/$packageName`, and pretty much all tools do that.

Alternatively, start work on a library that, given a `composer.json`, `composer.lock` and `installed.json`, can do the path resolution from symbol to real path, and then it can be included here.

[2021-08-03 10:24] Ocramius commented on #293
Inspiration can be taken from here: https://github.com/Roave/BetterReflection/blob/86135105e7f6e9684efd65c688ab2c49cf240143/src/SourceLocator/Type/Composer/Factory/MakeLocatorForComposerJsonAndInstalledJson.php#L32

In practice: that massive piece of (tested) logic also doesn't support `install-path`, since it's mostly an inconvenience that has been forced into composer for people that still run t

[2021-08-06 09:43] SvenRtbg commented on #293
I do want to point once again to the readme that is explaining the workaround: https://github.com/maglnet/ComposerRequireChecker/blob/3.4.x/README.md#dealing-with-custom-installer-plugins

This would be easy to implement in a CI pipeline where you'd be able to just checkout from scratch and do a different install than usual. And it would not fit into your existing workflow that is doing plenty of

[2021-08-13 07:57] KayKursawe opened #294 "Add option for output format"
For automated processing it would be great to get the check results in a machine-readable format.
How about adding an option to specify the format such as json, xml, csv...?

[2021-08-13 08:30] KayKursawe commented on #52
Here's a little example of what I put together recently: https://gist.github.com/KayKursawe/524036c6c95fe4214a8759b9fc46704f
I think it's pretty much what @mindplay-dk was asking for initially.

These are the steps that I did:
1. run the composer require checker
2. edit the output manually by search and replace to contain the class names only, one per line, surrounded by single quotes
3. paste the

[2021-08-18 19:23] maks-rafalko opened #295 "Cache execution results so that subsequent calls are processed faster"
Many dev tools are using cache files (e.g. PHPCSFixer, PHPUnit, PHPStan, Psalm, Deptrac and others), giving us performance boost locally and on CI. Look at this image, where the first run is without cache, and the second run is with cache files used for dev tools:

![image](https://user-images.githubusercontent.com/3725595/129959103-5d303870-04f0-4d98-969d-5f2b6b06c613.png)

As you can see, cachin

[2021-08-18 19:42] DanielBadura commented on #295
Increase peformance via caching sound quite nice. An option to deactivate the cache should be implemented with it i think.

[2021-08-18 19:55] Ocramius commented on #295
Reminder that there are two complex problems in computer science:

 * naming
 * caching
 * off by one errors

This tool is very very minimal, compared to others, and it's supposed to mostly run in CI (where caching is unavailable), so I'd say "avoid unless demonstrated to make a real difference".

As a side-note, I run `vimeo/psalm` exclusively with `--no-cache` these days, as it became basically

[2021-08-18 20:29] DanielBadura commented on #295
Sure, i prefer often to run tools also local but i see your point here.

Kinda true tbh, i need to bust the cache more often then i would like it.

[2021-11-08 08:25] mfn commented on #281
I understand the desire the remove phar building completely, bad it's damn convenient TBH.

And, maybe I'm wring, we just need to use a `\n` instead of `PHP_EOL` I thought I make a PR -> https://github.com/maglnet/ComposerRequireChecker/pull/310

I tested this locally and it just worked (though I'm on non-windows systems anyway 😬)

[2021-11-08 09:54] Ocramius commented on #281
Handled in #310

[2021-11-08 09:54] #281 closed, assigned to Ocramius

[2021-11-09 11:40] carusogabriel opened #315 "Replace `webmozart/path-util` with `symfony/filesystem`"
Hey 👋🏼

We use your library in our systems, thanks for it!

There's a warning coming from the installation:

[code]

Is this something @dependabot could help us with?

[2021-11-09 11:53] maglnet commented on #315
Hi :-)

no, i don't think dependabot can help us here, since this bot only checks if dependencies are up-to-date.

But afaik there is only one place, where the package `webmozart/glob` is used (which needs `webmozart/path-util`, that's probably here:
https://github.com/maglnet/ComposerRequireChecker/blob/3c34aa169eb3a4841a293c34d8062e6df6573020/src/ComposerRequireChecker/FileLocator/LocateFilesByG

[2021-11-09 12:35] Ocramius commented on #315
FWIW, if there's a non-symfony solution to that, it could be a better approach: mostly worried about dwindling package quality and continuously increasing dependency ranges in `symfony/*`.

I'd suggest reporting an issue in `webmozart/glob` directly: https://github.com/webmozarts/glob/blob/539b5dbc10021d3f9242e7a9e9b6b37843179e83/composer.json#L13

I'm keeping `webmozart/glob` maintained meanwhile

[2021-11-10 17:09] maglnet commented on #256
Since today, the release process, including the creation of phar files and signing, is completely automated.

As long as there is no other easy "standard" to install tools separately, I'd prefer to not drop the phar releases for now.
Nevertheless, if there's any way for easily shipping tools, let me know.

For details see #316 #317

[2021-11-10 17:20] OskarStark commented on #256
Thanks a lot

[2021-11-13 13:43] OskarStark opened #319 "Cannot update via phive"
[code]

[2021-11-13 13:48] OskarStark commented on #319
<img width="750" alt="CleanShot 2021-11-13 at 14 47 24@2x" src="https://user-images.githubusercontent.com/995707/141646256-015482d7-80c8-4d48-b6eb-6c5b2fcd1727.png">

[2021-11-13 14:10] maglnet commented on #319
Hey, when I try downloading this manually from here (URL copied from your log) it downloads successful:
https://github.com/maglnet/ComposerRequireChecker/releases/download/3.5.1/composer-require-checker.phar.asc

Maybe it's a local issue with your installation?

[2021-11-13 14:28] OskarStark commented on #319
Not sure, I will double check on Monday 👍🏻

[2021-12-01 10:21] DanielBadura commented on #319
Did you check it and if yes was it a local issue?

[2021-12-04 02:03] Sebbo94BY commented on #55
One more false-positive:
[code]

`composer.json` requires the required PHP extension:
[code]

See https://github.com/barbushin/php-imap/blob/master/composer.json

Would be also helpful, if I would just be able to "ignore" specific unknown symbols using the config file.

[2021-12-04 07:22] maglnet commented on #55
Hi,

I'm not sure if it's a false positive.
If you're running the check with PHP versions < 8.1 the class is not available (seems like it was introduced with 8.1) and so it's a unknown symbol for the lower versions.

Ignoring symbols is already possible. Please have a look at the `symbol-whitelist` within the example configuration: https://github.com/maglnet/ComposerRequireChecker/blob/3.7.x/data/

[2021-12-04 21:01] SvenRtbg commented on #55
Looks like the referenced project has never released a version that is compatible with PHP 8.1. I cannot identify what exactly is going on, but that link above currently reads

    "php": "^7.2 || ^8.0 <8.1",

which is true for all versions 4.2.x, any earlier 4.x is allowing php ^7.2, and version 3.x states php >=5.5 or >=5.6. Looking at their bugtracker, apparently being compatible with PHP 8.1 i

[2021-12-07 14:25] #294 closed, assigned to nobody

[2021-12-07 14:28] DanielBadura opened #332 "Add infection/infection into the CI pipeline"

[2021-12-07 16:19] dkreuer commented on #332
Already trying to add it :-)

[2021-12-07 16:22] dkreuer commented on #245
Looking into it.

[2021-12-07 16:39] Ocramius commented on #245
JSON is still part of an **extension** of PHP.

I'd say that PHP-SRC should stop reporting it as an extension-declared function, and instead move it to core directly?

This should be empty ( https://3v4l.org/iShcS ):

[code]

[2021-12-07 16:57] dkreuer commented on #245
I agree, but won't try to change that in upstream :D .. and to be correct it would have to be empty for ^8.0 - which won't be possible due to already released versions. So for compatibility this case must be supported anyways, right?

[2021-12-07 16:57] Ocramius commented on #245
TBH, just declare `ext-json` and be done with it :shrug:

[2021-12-07 17:01] dkreuer commented on #245
I'm fine with that.

For documentation purposes:

[2021-12-07 17:01] Ocramius commented on #245
Closing here meanwhile :+1:

[2021-12-07 17:01] #245 closed, assigned to Ocramius

[2021-12-07 17:17] dkreuer opened #333 "From Twitter: "Cannot use 'Parent' as class name as it is reserved" when running on < PHP 8.0 code"
Source:

![Bildschirmfoto 2021-12-07 um 18 15 01](https://user-images.githubusercontent.com/461576/145075524-6ae8343f-e6d1-4b85-9813-3ad69a117263.png)

Going to analyse if it's happening with PHP 7.4.* or only with PHP ^8.0.

[2021-12-07 17:19] Ocramius commented on #333
@Wirone do you have some source codebase (or code snippet) where this happens, perhaps?

[2021-12-07 21:22] dkreuer commented on #333
PHP 7.4.6 (lowest I have atm) throws fatal error:

All supported versions yield the same result: https://3v4l.org/11OAR

Without additional information I reckon it's "cannot reproduce".

[2021-12-07 21:37] Wirone commented on #333
@Ocramius sorry for being late but I tweeted to you from mobile and for few hours I did not use computer. Here's reproducer:

[code]

Running `composer-require-checker check` results with:

[code]

Tested on PHP 7.4 and 8.1 (both with CRC 3.8.0).

[2021-12-07 22:37] dkreuer commented on #333
Running `find . -type f -name '*.php' -exec php -l {} \; |grep -v "No syntax errors detected"` on the dependency codebase yielded the following errors (with PHP 7.4.6):

[code]

That's nothing we can change since PHP 7.x defines the reserved keyword `parent`.

There are "test" files placed under "src" and therefore these are parsed by composer-require-checker.

There is currently no way to exclude

[2021-12-08 03:59] Ocramius commented on #333
Oh, wow, that QuickBooks stuff includes a whole test suite (and foreign libraries) under its `autoload` config: https://github.com/intuit/QuickBooks-V3-PHP-SDK/tree/v5.4.2/src/

My suggestion is to report an upstream bug: this stuff should **at least** be in their `export-ignore`.

Other folks seem to have similar problems with it:

 * https://github.com/intuit/QuickBooks-V3-PHP-SDK/issues/425
 *

[2021-12-08 04:03] Ocramius commented on #333
I think configuration is not the problem here: the tool is highlighting a problem, which is real (and part of a broken dependency).

Adding configuration to shadow/exclude (let's avoid "blacklist") certain paths from a scan is possible in future, but it's not at the core of the problem here.

[2021-12-08 08:04] Wirone commented on #333
@dkreuer @Ocramius thanks for taking your time on it and your suggestions. Looking at PR mentioned above I think there's really small chance that `quickbooks/v3-php-sdk`'s maintainer would do anything about it. More than a year since opening 😱 I'll look at our codebase and verify if this package is actually used - FYI: it's huge monolith app with large legacy part (many years of development), ther

[2021-12-08 11:41] Ocramius commented on #333
@Wirone the maintainer of that library ( @abisalehalliprasan ) is mentioned/pinged in this issue :-)

[2021-12-08 13:13] Wirone commented on #333
@Ocramius I think we need to migrate from `quickbooks/v3-php-sdk` to `quickbooks/payments-sdk`, I've created internal issue for that. But I don't know when it could be done so it would be really great if this could be fixed somehow - here or in Quickbooks package 🙂 Because as of now I can't even analyse current dependencies.

[2021-12-13 10:10] Ocramius opened #335 "Delete `3.9.x` branch"
Since I don't have admin access over this repo, I can't change the default branch: `4.0.x` should be the new default.

When you have a second, please adjust that, @maglnet.

[2021-12-13 12:41] maglnet commented on #335
It's done.
Thanks for your work @Ocramius 👍

[2021-12-13 12:41] #335 closed, assigned to maglnet

[2021-12-13 16:45] Ocramius commented on #335
Thanks @maglnet!

[2021-12-13 17:13] dkreuer commented on #333
@Ocramius exclude feature to circumvent upstream packages issues? Pro: require checker will be usable in these cases too. Con: More configuration which might go wrong.

I’d put that feature on my todo list for OSS work in January if it‘s greenlit.

[2021-12-13 17:14] dkreuer commented on #332
Implementation is in there. Now onto improving the testing situation.

[2021-12-13 17:19] dkreuer commented on #333
Issue and solution is probably a duplicate of #58. and there already was doubt if such an option would be worth it.

[2021-12-14 17:45] kelunik opened #342 "Missing PHP version should give readable error"
I missed adding the `"php"` version requirement in `composer.json` and all internal functions have been reported as unknown, even though I had configured them in the config:

[code]

[code]

While it's kind of obvious that `php` needs to be added as a requirement, this leaved me puzzled for some minutes. I guess an extra error message would be helpful?

[2021-12-14 18:20] Ocramius commented on #342
IMO this is expected (not confusing).

What would an enhancement look like? Consider that we don't suggest specific `composer.json` additions either 🤔

[2021-12-17 07:04] ruudk commented on #295
We run a lot of tools on CI with caching, like Composer dependencies, PHPStan results, PHP-CS-Fixer cache etc. This works great and gives us a speed improvements.

FWIW, `ComposerRequireChecker` takes 5 minutes and 30 seconds on our GitHub Actions pipeline. We run a very large monolith with 10k classes, that might cause the slowness. But this is the slowest job.

[2021-12-17 08:20] Ocramius commented on #295
5m30s for a 10k classes structure is acceptable, IMO

Even then, remember that there are two difficult problems in software: naming things, caching and off by one errors. Caching must be a necessity, before being introduced, and not a "nice to have"

[2021-12-17 10:23] ruudk commented on #295
Created a PR:
- https://github.com/maglnet/ComposerRequireChecker/pull/344

[2021-12-20 09:56] ruudk commented on #295
After creating a caching layer in #344 I thought, how can I make this faster?

I noticed 2 things in my setup:

1) I use `shivammathur/setup-php` and did not set `coverage: none`. By default, it runs everything with `xdebug` enabled. This change alone already shaved off minutes!

2) I thought this CLI would be perfect for JIT, so I tried to run it with `ini-values: opcache.enable_cli=1, opcache.ji

[2021-12-24 10:53] Ocramius commented on #295
Indeed, that seems much more reasonable, so let's roll with the tool as-is for now :+1:

[2021-12-24 10:54] #295 closed, assigned to ruudk, Ocramius

[2021-12-24 10:54] Ocramius commented on #295
Thanks for the swift decision making once you found the culprit, @ruudk!

[2021-12-28 06:07] dkreuer opened #345 "Use roave/better-reflection"
Since `roave/better-reflection` 5.0.0 has been released with PHP 8.0/8.1 Support one could think about using that to detect used symbols where currently php reflections are used.

that would solve a lot issues I guess.

issues related to `roave/better-reflection` Integration:
- #280
- maybe #114 ?
- #52

[2021-12-28 11:59] Ocramius commented on #345
Note: `roave/better-reflection` should now also be able to detect class aliases :+1:

[2022-03-16 10:21] Jean85 commented on #58
Sorry for recovering an old issue, but I stumbled on another use case for this option: https://github.com/schmittjoh/serializer/issues/1381

The class is valid up to PHP 8.0, and the library wont drop the class due to BC. In the meantime my hack would be the same as https://github.com/schmittjoh/serializer/issues/1381#issuecomment-1000150120 (`rm`ing the file on the fly), but an exclusion on this

[2022-03-18 14:55] maglnet commented on #58
Hi @Jean85

maybe you can add the PHP 8.1 incompatible file to your `composer.json` - `autoload.exclude-from-classmap` config section?

https://github.com/maglnet/ComposerRequireChecker/blob/e737b9f17c6fdb40fd376e3e51a584df49636d8a/src/ComposerRequireChecker/FileLocator/LocateComposerPackageSourceFiles.php#L52

[2022-03-21 21:33] DaFox opened #348 "Parse error with PHP 8.1 code"
The parser doesn't handle the new "readonly" keyword properly and throws an error:

[code]

[2022-03-21 22:00] Ocramius commented on #348
Are you running with latest dependencies overall?

[2022-03-22 08:19] DaFox commented on #348
@Ocramius Sorry, what dependencies are you talking about?

The require-checker used is the PHAR-Archive downloaded from here:
https://github.com/maglnet/ComposerRequireChecker/releases/download/4.0.0/composer-require-checker.phar

The `composer.json` essentially contains the following dependencies:

[code]

Runtime is PHP 8.1.3 CLI on Debian 11.0, with some extra extensions. Nothing special.

TIA

[2022-03-22 08:21] Ocramius commented on #348
Can you try a normal composer installation, please?

Fairly sure these are just dependencies that were locked in the PHAR release at that time.

Related: #256

[2022-03-28 15:07] steevanb commented on #279
Ok thanks, you can close this issue :)

[2022-03-28 15:07] steevanb commented on #280
Ok thanks, you can close this issue :)

[2022-03-28 15:28] DanielBadura commented on #279
Did it worked out?

[2022-03-28 15:29] DanielBadura commented on #280
Maybe soon this feature is shipped see #346

[2022-04-18 21:17] mathroc commented on #78
I don't want to open a new issue for this since it has already been discussed so I'm just posting a comment here in case it could be reopend:

I'd like a docker image because I only want to run this in CI, I can (quite easily) do this multiple ways, eg: by downloading the phar each time in php image. but this come at some cost that is duplicated everywhere this tool is used.

People have already m

[2022-04-18 21:30] Ocramius commented on #78
Maintaining a docker image also means maintaining the whole dependency chain: no thanks.

See also the countless issues around phar builds :-\

[2022-05-25 09:27] systemasis opened #349 "Tool complains (again) about "mixed""
It seems like the problem reported by #250 made a come back.

[code]

My `php -v` version :
[code]

[2022-05-25 09:29] Ocramius commented on #349
Are you running with the vanilla symbol definitions, or did you override the confirmation?

[2022-05-25 09:38] systemasis commented on #349
We had a file to override the definition I wasn't aware of. Thank you for your quick response.

[2022-05-25 09:38] #349 closed, assigned to nobody

[2022-07-06 12:56] vjik opened #350 "Remove `ext-json` requirement for PHP 8+"
From [PHP docs](https://www.php.net/manual/en/json.installation.php):

Example:

![image](https://user-images.githubusercontent.com/525501/177555197-a0710e3b-4069-4432-a88b-4f0b83e35874.png)

[2022-07-06 17:01] #350 closed, assigned to Ocramius

[2022-07-14 02:37] machitgarha commented on #315
@Ocramius, this project requires `symfony/filesystem` as a soft dependency (via `webmozart/glob`), so it's even beneficial than harmful, as you will remove a dependency and make a soft one hard.

[2022-07-14 02:52] machitgarha commented on #315
@Ocramius, reminder: `symfony/filesystem` is already a soft dependency (realized thanks to [graph-composer](https://github.com/clue/graph-composer)). Not sure if it's a dev or not, however.

[2022-07-14 02:59] Ocramius commented on #315
It's due to dev dependencies: in general, less symfony is a good idea, given their approach to semver versioning ranges 😛

Anyway, I managed to squish it out of the webmozart/glob library too (yes, I maintain that too 😅), so it can be done here too, without too much effort.

[2022-07-14 03:01] machitgarha commented on #315
@Ocramius, I see. You actually saved more people than in this project. 😃

[2022-07-14 03:03] Ocramius commented on #315
Hmm, I can't find (am on my phone) any usages of `path-util` in the codebase: perhaps my work on `webmozart/glob` already suffices to fix this, and a dependency bump is all we need?

Can you check if it can be safely removed? Because then we'd already be done.

See https://github.com/webmozarts/glob/releases/tag/4.5.0

[2022-07-14 03:14] machitgarha commented on #315
@Ocramius, there are no usages of `webmozart/path-util` in the code base.

However, two packages still depend on it: `infection/infection` and `vimeo/psalm`. You can update Infection to 0.26, but `vimeo/psalm` still has it as a dependency with the latest stable. However, the good news is, they're going to remove it in 5.0.

[2022-07-14 03:21] Ocramius commented on #315
That is alright, so the issue can be closed as solved, as it only affects dev-dependencies, and downstream consumers will not get the abandoned library installed.

[2022-07-14 03:21] #315 closed, assigned to Ocramius

[2022-07-26 17:39] Ocramius commented on #225
Cross-linking an implementation example: https://github.com/Roave/BackwardCompatibilityCheck/blob/54de7e8a200e458c3c449b0ff41d669a0eb1a88a/src/Formatter/GithubActionsFormatter.php

Again, just for any takers :P

[2022-08-24 03:48] medamin25 opened #353 "Fatal error: Allowed memory size of 134217728 bytes exhausted"
hi, i got this error.

[code]

[2022-08-24 06:04] Ocramius commented on #353
Seems correct: this library will parse your code, and it needs quite a bit of memory to do that. 128Mb usually won't do.

[2022-08-24 06:04] #353 closed, assigned to Ocramius

[2022-08-29 11:05] willemstuursma opened #354 "mixed parameter type"
We got the following output:

[code]

from this method signature:

[code]

[2022-08-29 11:06] Ocramius commented on #354
Maybe same as https://github.com/maglnet/ComposerRequireChecker/issues/349 ?

[2022-08-29 11:07] willemstuursma commented on #354
Thanks, that is really fast. We indeed have a custom `symbol-whitelist`. I'll check if adding it fixes it.

[2022-08-29 11:08] Ocramius commented on #354
Closing here: seems like a duplicate then :+1:

[2022-08-29 11:08] #354 closed, assigned to nobody

[2022-08-29 11:10] willemstuursma commented on #354
I'm not sure if it is by design but it seems a bit un-intuitive that the language keywords have to be added to a list for this tool to work. Maybe `mixed`, `null` etc could be hardcoded.

[2022-08-29 11:11] Ocramius commented on #354
Possibly: would suggest sending a patch for improving that, though.

[2022-08-29 11:26] willemstuursma commented on #354
@Ocramius something like this? https://github.com/maglnet/ComposerRequireChecker/pull/355

[2022-09-12 10:35] staabm opened #356 "constant checks"
with code like

[code]

the tool properly detects and reports a error:

[code]

doing the same within a loop in a "more dynamic" way does not report any errors:

[code]

I think - for consistency it would be helpful if the require checker could detect such constant cases.

found this inconsistency while working on https://github.com/phpstan/phpstan-src/pull/1719/

[2022-09-12 12:00] staabm commented on #356
looking at

[code]

again, I even think, that the constant should not be reported at all, since the IF construction makes it a optional dependency

[2022-09-12 12:17] Ocramius commented on #356
I would rather say that the dependency should be declared, so that it cannot be a constant polyfilled incorrectly by a third party component.

That said, this component uses dirt dumb AST traversal: it doesn't evaluate expressions at all.

[2022-09-17 14:01] underdpt commented on #348
I'm also having this usin a normal composer installation:

[code]

[2022-09-17 14:20] Ocramius commented on #348
Can you adjust this and see if it makes a difference?

https://github.com/maglnet/ComposerRequireChecker/blob/fb2a69aa2b7307541233536f179275e99451b339/src/ComposerRequireChecker/Cli/CheckCommand.php#L266

[2022-09-17 14:49] underdpt commented on #348
The line is exactly the same I have on vendor/maglnet/composer-require-checker/src/ComposerRequireChecker/Cli/CheckCommand.php

If you mean changing the constant `PREFER_PHP7`, on my `nikic/php-parser` installation it only allows for this:

[code]

But after further reviewing, I see that the faulty file contains:

[code]

And `readonly` is a reserved keyword since php 8.1. I just upgraded the pack

[2022-09-17 14:50] Ocramius commented on #348
So it is a problem with dependencies, as I stated above 😜

[2022-10-17 17:23] benr77 opened #357 "Parse error with T_PAAMAYIM_NEKUDOTAYIM"
I'm getting a parse error on what seems to be valid code. The code is:

[code]

And the parse error is:

[code]

I'm running PHP 8.1 on linux.

Thanks

[2022-10-17 17:34] Ocramius commented on #357
See https://3v4l.org/6UpX2

Something is off

[2022-10-17 17:52] benr77 commented on #357
Ok thanks that's weird. I'll report this over at `ruflin/elastica`.
Cheers!

[2022-10-17 17:52] #357 closed, assigned to Ocramius

[2022-10-20 11:44] crocodele commented on #279
I can confirm that `foo/**/*.php` works for me. I guess this issue can be closed by someone with the power to do so. :slightly_smiling_face:

[2022-10-20 12:13] #279 closed, assigned to nobody

[2022-10-28 19:55] xepozz opened #358 "Remove ext-tokenizer warnings"
The article in https://www.php.net/manual/en/tokenizer.installation.php says that it's enabled by default. So there is no need to warn about it.
<img width="366" alt="image" src="https://user-images.githubusercontent.com/6815714/198721298-b24e72c0-6f82-4b82-9fa6-43a1e1487aec.png">
Could you remove it?

[2022-10-28 19:59] Ocramius commented on #358
@xepozz send a patch: similar to #351

[2022-10-28 19:59] Ocramius commented on #358
TBH, still means it could be disabled: IMO worth keeping.

[2022-10-28 20:29] xepozz opened #359 "Unresolved `getallheaders` function"
<img width="543" alt="image" src="https://user-images.githubusercontent.com/6815714/198726261-7f1b90ba-cf6b-405f-9924-54ca211f6316.png">
The [documentation](https://www.php.net/manual/en/function.getallheaders.php) says that it's available from FPM SAPI
I have no idea how to fix it :)

[2022-10-28 20:32] Ocramius commented on #359
I would suggest adding an exclusion for it in your own config: `getallheaders()` is indeed conditionally present, so it cannot be considered always existing by default.

I don't think `composer.json` has a way to target a specific SAPI, since you'd need to run `composer install` with that SAPI too...

[2022-10-28 20:32] #359 closed, assigned to Ocramius

[2022-11-22 08:13] valieand commented on #211
I also have this question. What if `composer.json` does not have `autoload` section? In the framework I'm using web requests are routed to `index.php` that `require __DIR__ . '/../../vendor/autoload.php';` and console scripts are started with console app that also `require __DIR__ . '/vendor/autoload.php';`

[2022-11-22 08:16] Ocramius commented on #211
This library is about detecting issues within your sources: no `autoload` section means "no sources".

It's a relatively healthy assumption.

Closing here, since there was no further feedback.

[2022-11-22 08:16] #211 closed

[2022-11-22 10:46] SvenRtbg commented on #211
The easiest way would be to add a "classmap" autoloading definition with all the paths that contain your production code. But using "PSR-4" or maybe "PSR-0" would be the preferred way. See the details in https://getcomposer.org/doc/01-basic-usage.md#autoloading and https://getcomposer.org/doc/04-schema.md#autoload